@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.externaltexts.MarkupString
@import edu.harvard.iq.policymodels.model.decisiongraph.nodes.AskNode
@import edu.harvard.iq.policymodels.model.decisiongraph.nodes.RejectNode
@import edu.harvard.iq.policymodels.model.PolicyModel
@import Helpers._
@(cmt:Comment, kit:VersionKit, loc:Localization, readmeOpt:Option[MarkupString])(implicit request: RequestHeader, msgs: MessagesProvider)

@templates.backend("Comment Viewer", views.BackOfficeSection.Models ) {
  <div class="row my-2">
    <div class="col">
      <a href="@routes.ModelCtrl.showVersionPage(kit.md.id.modelId, kit.md.id.version)">
        <i class="fa fa-arrow-left"></i> @{kit.policyModel.map(_.getMetadata.getTitle ).getOrElse(kit.md.id.modelId + "/" + kit.md.id.version)}
      </a>
      <h3>
        <div class="float-right">
          <button class="btn btn-secondary"
                  onclick="Comments.setResolved(this, 'commentStatus', @cmt.id, @if(cmt.resolved){false}else{true})">
                  @Messages("interview.markAs") @if(cmt.resolved){@Messages("interview.unresolved")}else{@Messages("interview.resolved")}</button>
          <button class="btn btn-danger"
                  onclick="Comments.deleteComment('@cmt.id', '@kit.md.id.modelId', '@kit.md.id.version')">
                  @Messages("interview.comment.delete")</button>
        </div>
        @Messages("interview.comment") @comps.commentStatus(cmt, Some("commentStatus"))
      </h3>
      <div>
        <em>@cmt.writer</em> wrote at @Helpers.dateTimeFormat(cmt.time)
        on <code>@cmt.targetType.trim/@cmt.targetContent.trim</code>
        @for(loc<-cmt.localization) { (Localization: @loc ) }
      </div>
      <div class="commentContent">
        @cmt.comment
      </div>
      <hr>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <h4>@Messages("interview.comment.context")</h4>
      <div class="commentSubjectCtnr" @whenRTL(loc){style="direction:rtl; text-align:right"}>
        @if(cmt.targetType.trim == "meta"){
          @cmt.targetContent.trim match {
            case "policy-space" => {@comps.tagType(kit.policyModel.get.getSpaceRoot, loc)}
            case "readme" => {
              @if(readmeOpt.isDefined) {
                @Helpers.render(readmeOpt.get)
              } else {
                <div class="alert alert-warning">README missing</div>
              }
            }
          }
        } else {
          @defining(kit.policyModel.get.getDecisionGraph.getNode(cmt.targetContent)) {
            case ask: AskNode => {
              @comps.questionPanel(ask, kit, loc, Seq(), enableComments=false, interactive=false, showId = true, false, None)
            }
            case rej: RejectNode => {
              @comps.rejectPanel(rej, kit.md.id, loc, Seq(), enableComments=false)
            }
          }
        }
      </div>
    </div>
  </div>
}
