@(settings:Map[SettingKey.Value, Setting])(implicit req:Request[_])

@extraHead = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/quill/dist/quill.snow.css")">
}

@scripts = {
  <script src="@routes.Assets.at("lib/quill/dist/quill.min.js")"></script>
  <script src="@routes.Assets.at("js/Customization.js")"></script>
  <script>
    $(document).ready( function(){
      customizationSetup();
    });
  </script>
}

@templates.backend("Manage PolicyModels Server", Symbol("customize"), scripts, extraHead){
  @comps.pageTitleRow("Server Customization"){
    <button onclick="save()" class="btn btn-large btn-primary"><i class="fa fa-save"></i> Save</button>
  }

<div class="row my-2">
  <div class="col">
    <h3>Front Page Text</h3>
    <div id="frontPageTextEditor" style="height: 20em"></div>
  </div>
</div>

}