@(user:User, recentComments:Seq[CommentDN])

@templates.backend("Manage PolicyModels Server", 'index){
  <div class="row my-2">
    <div class="col">
      <h3>Hello, @user.name!</h3>
      <p>
        This is the management console for the PolicyModels Server.
      </p>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-8">
      <h3>Recent Comments</h3>
      @if( recentComments.isEmpty ) {
        <div class="noData">No Comments</div>
      } else {
        <table class="table">
          <thead>
            <tr>
              <th>Model</th>
              <th>By</th>
              <th>On</th>
              <th>Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            @for( cdn <- recentComments ){
              <tr>
                <td><a href="@routes.CommentsCtrl.showComment(cdn.comment.id)">
                  @cdn.modelName/version @cdn.comment.version (@cdn.versionTitle)</a></td>
                <td>@cdn.comment.writer</td>
                <td>@cdn.comment.targetType/@cdn.comment.targetContent</td>
                <td>@Helpers.dateTimeFormat(cdn.comment.time)</td>
                <td>@comps.commentStatus(cdn.comment)</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
    <div class="col-md-4">
      <h3>Common Actions</h3>
      <a href="@routes.ModelCtrl.showModelsList()" class="btn btn-secondary btn-block">
        Manage PolicyModels
      </a>
      <a href="@routes.UsersCtrl.showEditUserPage(user.username)" class="btn btn-secondary btn-block">
        Edit Profile
      </a>
      <a href="@routes.UsersCtrl.showNewUserPage()" class="btn btn-secondary btn-block">
        Add User
      </a>
      <a href="@routes.UsersCtrl.showInviteUser()" class="btn btn-secondary btn-block">
        Invite User
      </a>


    </div>
  </div>
}