@( models:Seq[Model], message:Option[String] )
@scripts ={
  <script language="JavaScript">
    $(document).ready( function(){
      @for( m <- message ){
        Informationals.makeInfo("@Html(m.replaceAll("\"","\\\\\""))", "", 3000).show();
      }
    });
  </script>
}
@templates.backend("Model Editor", Symbol("backOffice"), scripts ) {
  @comps.pageTitleRow("Models"){
    <a href="@routes.ModelCtrl.showNewModelPage()" class="btn btn-large btn-secondary"><i class="fa fa-plus-circle"></i> Add</a>
  }
  <div class="row">
    <div class="col-md-12">
      @if( models.isEmpty ){
        <div class="noData">
          No models available. You can <a href="@routes.ModelCtrl.showNewModelPage">add one</a>.
        </div>
      } else {
        <ul>
          @for( model <- models ) {
            <li>
              <a href="@routes.ModelCtrl.showModelPage(model.id)">@model.title (<code>@model.id</code>)</a>
            </li>
          }
        </ul>
      }

    </div>
  </div>

}