@(form:Form[ModelFormData], isNew:Boolean)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.at("js/modelEditor.js")"></script>
}


@templates.backend("Model Editor", 'backOffice, scripts ) {

  <div class="row my-2">
    <div class="col">
      <h3>Model Editor</h3>
      <div class="form-text text-muted">
        Use this page to create and edit <em>models</em>. models serve as a container with a fixed URL for different versions of a policy model.
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <form action="@if(isNew){@routes.ModelCtrl.doSaveNewModel}else{@routes.ModelCtrl.doSaveModel(form("id").value.get)}" method="POST">
        <input type="hidden" name="shouldBeNew" value="@form("shouldBeNew").value.getOrElse("0")">

        <div class="form-group row @Helpers.fieldStatus(form("id"))">
          <label for="idInput" class="col-sm-2 col-form-label">Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="idInput" name="id" value="@form("id").value.getOrElse("")"
                   placeholder="id string" @if( (!form("id").hasErrors) && form("id").value.isDefined){readonly}>
            @if(form("id").hasErrors){
              <div class="errors">
                @form("id").errors.map(e=>if(e.message=="error.minLength") "Field cannot be empty" else e.message).mkString("<br>")
              </div>
            }
            <small class="form-text text-muted">
              The model's id will be part of its URL: <code>server/models/<b>id</b>/version</code>. Thus, it must be unique,
                and cannot contain spaces or special characters, only letters, numbers and the characters "-_.". It cannot be empty, either.
            </small>
          </div>
        </div>

        <div class="form-group row @Helpers.fieldStatus(form("title"))">
          <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="titleInput" value="@form("title").value.getOrElse("")" placeholder="Title">
            @if(form("title").hasErrors){
              <div class="errors">
              Field cannot be empty.
              </div>
            }
          </div>
        </div>

        <div class="form-group row">
          <label for="titleInput" class="col-sm-2 col-form-label">Model Options</label>
          <div class="col-sm-10">
            <input class="hidden" type="checkbox" id="statCb" onchange="$('#saveStat')[0].value = $('#statCb')[0].checked" @if(form("saveStat").value.getOrElse(false) == "true") {checked}>
            <label class="buttonLike" for="statCb">Save Usage Statistics</label>
            <input type="hidden" name="saveStat" id="saveStat" value="@form("saveStat").value.getOrElse(false)">

            <input class="hidden" type="checkbox" id="noteCb" onchange="$('#noteOpt')[0].value = $('#noteCb')[0].checked" @if(form("noteOpt").value.getOrElse(false) == "true") {checked}>
            <label class="buttonLike" for="noteCb">Allow User Notes</label>
            <input type="hidden" name="noteOpt" id="noteOpt" value="@form("noteOpt").value.getOrElse(false)">
          </div>
        </div>

        <div class="form-group row @Helpers.fieldStatus(form("note"))">
          <label for="noteInput" class="col-sm-2 col-form-label">Note</label>
          <div class="col-sm-10">
            <textarea id="noteInput" name="note" class="form-control" rows="5">@form("note").value.getOrElse("")</textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col text-right">
            <hr>
            @if( ! isNew ) {
              <div class="float-left">
                <button type="button" onclick='ModelEditor.confirmDelete("@Helpers.jsEscape(form("title").value.get)","@form("id").value.get")' class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete Model</button>
              </div>
            }
            @if( ! isNew ){
              <a href="@routes.ModelCtrl.showModelPage(form("id").value.get)" class="btn btn-secondary">Cancel</a>
            }
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}