@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.model.policyspace.slots._
@(form:Form[VersionFormData], modelId:String, versionNumber:Option[Int], tagType:Option[AbstractSlot], loc:Option[Localization], versionMD:Option[VersionMD])(implicit msgs:MessagesProvider)

@scripts = {
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/modelEditor.js")"></script>
  <script >
    $(document).ready(function () {
      @for((k,v) <- versionMD.map(v=>v.slotsVisibility).getOrElse(Map())) {
        changeInput('@k','@v');
      }
    });
  </script>
}


@templates.backend("Model Editor", Symbol("backOffice"), scripts ) {

  <form enctype="multipart/form-data" action="@versionNumber.map(n=>routes.ModelCtrl.saveVersion(modelId, n)).getOrElse(routes.ModelCtrl.uploadNewVersion(modelId))" method="POST">
    @comps.pageTitleRow("Policy Model Version Editor",
      "Use this page to " + (if(versionNumber.isDefined) "edit" else "create") + " a single version of policy model."){
      <a href="@routes.ModelCtrl.showModelPage(modelId)" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    }
    <div class="row my-2">
      <div class="col">
        <div class="form-group row">
          <label for="publicationStatusSelect" class="col-sm-2 col-form-label">Who can view</label>
          <div class="col-sm-10">
            <select class="form-control custom-select" name="publicationStatus" id="publicationStatusSelect">
              @for( v <- PublicationStatus.values.iterator ){
                <option value="@v.toString" @if(form("publicationStatus").value.get==v.toString){selected}>@Helpers.publicationStatus2Str(v)</option>
              }
            </select>
            <small class="form-text text-muted">
              The model's publication status decides which users can view it: Logged in users, those who have a special link, or everyone.
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="commentingStatusSelect" class="col-sm-2 col-form-label">Who can comment</label>
          <div class="col-sm-10">
            <select class="form-control custom-select" name="commentingStatus" id="commentingStatusSelect">
            @for( v <- CommentingStatus.values.iterator ){
              <option value="@v.toString" @if(form("commentingStatus").value.get==v.toString){selected}>@Helpers.commentingStatus2Str(v)</option>
            }
            </select>
            <small class="form-text text-muted">
              The model's commenting status decides which users can comment on it: Logged in users, those who have a special link, or no users.
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="zippedModel" class="col-sm-2 col-form-label">File</label>
          <div class="col-sm-10">
            <input type="file" name="zippedModel" id="zippedModel">
            <small class="form-text text-muted">
              This file should be a .zip archive containing a policy model directory. <em>This field is mandatory.</em>
            </small>
          </div>
        </div>

        <div class="form-group row">
          <label for="noteInput" class="col-sm-2 col-form-label">Note</label>
          <div class="col-sm-10">
            <textarea id="noteInput" name="note" class="form-control" rows="5">@form("note").value.getOrElse("")</textarea>
          </div>
        </div>
          @if(tagType.isDefined && tagType.get != null){
            <div class="form-group row">
              <label for="publicationStatusSelect" class="col-sm-2 col-form-label">Switch to List Display</label>
              <div class="col-sm-10">
                <input type="number" name="listDisplay" value="@form("listDisplay").value.getOrElse('0')">
                <small class="form-text text-muted">
                  When the number of answers is equal or greater than this number, the answers will be displayed as a list.
                </small>
            </div>
          </div>
            @comps.visibility.typesVisibility(tagType.get, loc.get, form, versionMD.get)
          }

        <div class="form-group row">
          <div class="col text-right">
            <hr>
            <a href="@routes.ModelCtrl.showModelPage(modelId)" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
}