@(vpm:VersionedPolicyModel, versions:Seq[(PolicyModelVersion, Option[PolicyModelVersionKit])], enableEdits:Boolean, message:Option[String] )

@scripts ={
  @if(versions.map(_._2).exists(_.isEmpty)){
    <script language="Javascript">
      window.setTimeout( function(){ window.location.reload(); }, 3000 );
    </script>
  }
}

@templates.bsNavBar("Versioned Policy Model Editor", 'backOffice, scripts ) {

  <div class="row">
    <div class="col-md-12">
      <h3>@if(enableEdits){
        <div class="pull-right">
          <a class="btn btn-default" href="@routes.PolicyKitManagementCtrl.showEditVpmPage(vpm.id)">
            <i class="fa fa-edit"></i> Edit</a>
        </div>
      }
        @vpm.title
      </h3>
      <h6><code>@vpm.id</code></h6>
    </div>
  </div>
  @for( m <- message ){
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          @m
        </div>
      </div>
    </div>
  }
  @if( vpm.note.trim.nonEmpty ) {
    <div class="row">
      <div class="col-md-12">
        @vpm.note
      </div>
    </div>
  }
  <div class="row">
    <div class="col-md-12">
      <h4>
        <div class="pull-right">
          <a class="btn btn-default" href="@routes.PolicyKitManagementCtrl.showNewVersionPage(vpm.id)">
            <i class="fa fa-plus-circle"></i> Add New Version</a>
        </div>
        Versions
        <div class="clearfix"></div>
      </h4>
      @if( versions.isEmpty ) {
        <div class="noData">
          This model currently has no versions. @if(enableEdits){Why not <a href="@routes.PolicyKitManagementCtrl.showNewVersionPage(vpm.id)">add one</a>?}
        </div>
      } else {
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Publication Status</th>
              <th>Commenting Status</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for( v <- versions ) {
              <tr>
                <td>@v._1.version</td>
                <td>@comps.publicationStatus(v._1.publicationStatus)</td>
                <td>@comps.commentingStatus(v._1.commentingStatus)</td>
                <td>@v._1.lastUpdate</td>
                <td>
                  <a class="btn btn-default btn-sm" href="@routes.PolicyKitManagementCtrl.showEditVersionPage(v._1.parentId, v._1.version)"><i class="fa fa-edit"></i> Edit</a>
                  @v._2 match {
                    case None      => {<button type="button" class="btn btn-default" disabled>Processing...</button>}
                    case Some(kit) => {@if(kit.canRun){<a class="btn btn-primary btn-sm" href="@routes.Interview.interviewIntro(v._1.parentId, v._1.version)"><i class="fa fa-play"></i>Run</a>}}
                  }
                </td>
              </tr>
              @if(v._1.note.trim.nonEmpty){
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="3" class="noteTd">@v._1.note</td>
                  <td>&nbsp;</td>
                </tr>
              }
              @for( kit <- v._2 ){
                @if(kit.messages.nonEmpty){
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="3" class="noteTd">
                      @comps.kitMessageList(kit.messages)
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      }
    </div>
  </div>
}