@import edu.harvard.iq.datatags.externaltexts.TrivialLocalization
@(ver:VersionKit, model:Model, comments:Seq[Comment])(implicit msgs:MessagesProvider)

@scripts ={
@if(ver.md.runningStatus == RunningStatus.Processing){
  <script language="Javascript">
          window.setTimeout( function(){ window.location.reload(); }, 3000 );
  </script>
}
  <script language="JavaScript">
          $(document).ready( function(){
            JsUtils.fillAccessLinks();
          })
  </script>
  <script src="@routes.Assets.at("js/DeleteVersion.js")"></script>
}


@templates.backend("Version Viewer", 'backOffice, scripts ) {
  <div class="row">
    <div class="col-md-12">
      <a href="@routes.ModelCtrl.showModelPage(model.id)">
        <i class="fa fa-arrow-left"></i> All versions
      </a>
    </div>
  </div>
  @comps.pageTitleRow(model.title + " (v" + ver.md.id.version + ")"){
      @ver.policyModel match {
        case None      => {<button type="button" class="btn btn-secondary" disabled>Processing...</button>}
        case Some(kit) => {@if(ver.md.runningStatus == RunningStatus.Runnable){<a class="btn btn-primary" href="@routes.InterviewCtrl.interviewIntro(ver.md.id.modelId, ver.md.id.version)"><i class="fa fa-play"></i> Run</a>}}
      }
      <a class="btn btn-secondary" href="@routes.ModelCtrl.showEditVersionPage(ver.md.id.modelId, ver.md.id.version)">
        <i class="fa fa-edit"></i> Edit
      </a>
      <button type="button" class="btn btn-danger" onclick="DeleteVersion.deleteVersion('@ver.md.id.modelId', '@ver.md.id.version')">
        <i class="fa fa-trash-o"></i> Delete
      </button>
    }
  <div class="row my-2">
    <div class="col">
      Updated @Helpers.dateTimeFormat(ver.md.lastUpdate)
        @comps.publicationStatus(ver.md.publicationStatus)
        @comps.commentingStatus(ver.md.commentingStatus)
    </div>
  </div>
  @if( ver.md.publicationStatus == PublicationStatus.LinkOnly ) {
    <div class="row">
      <div class="col">
        Public link:
        <a class="publicLink" href="" data-role="accessLink" data-link="@ver.md.accessLink"></a>
      </div>
    </div>
  }
  @Helpers.nonEmpty(ver.md.note){ note=>
    <div class="row my-2">
      <div class="col">
        <div class="card border-info">
          <div class="card-header text-white bg-info">Note</div>
          <div class="card-body">@note</div>
        </div>
      </div>
    </div>
  }

  @for( model <- ver.policyModel ) {
    <div class="row my-2">
      <div class="col">
        <h4>PolicyModel Metadata</h4>
        @if( model!=null ) {
            @comps.versionMetadataTable(model.getMetadata)
        } else {
          <div class="alert alert-danger">Model failed to load. See messages section.</div>
        }
      </div>
    </div>

    @if( ver.md.messages.nonEmpty ) {
      <div class="row">
        <div class="col">
          <h5>Messages</h5>
          @comps.kitMessageList(if(ver.md.messages.trim != "") {ver.md.messages.split("\n%%%\n").grouped(2).map(arr => (arr(0), arr(1))).toSeq} else {Seq[(String, String)]()})
        </div>
      </div>
    }
  }

  <div class="row my-2">
    <div class="col">
      @defining( comments.count(!_.resolved)) { unresolved =>
        <h4>Feedbacks @if(unresolved>0){<span class="badge">@unresolved</span>}</h4>
      }
      <div class="help">
        Feedbacks users left on various parts of this model.
      </div>
      @if( comments.isEmpty ) {
        <div class="noData">
          No feedbacks
        </div>
      } else {
        <table class="table">
          <thead>
            <tr>
              <th>Who</th>
              <th>Subject</th>
              <th>Time</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          @for(cmt <- comments) {
            <tr>
              <td>@cmt.writer</td>
              <td>@cmt.targetType.trim/@cmt.targetContent @for( loc <-cmt.localization.filter( ln=>(ln!=TrivialLocalization.LANGUAGE_NAME && ln != ""))) { (Localization: @loc) }
              </td>
              <td>@Helpers.dateTimeFormat(cmt.time)</td>
              <td>@comps.commentStatus(cmt, Some("cmtsts"+cmt.id))</td>
              <td>
                <a class="btn btn-sm btn-secondary" href="@routes.CommentsCtrl.showComment(cmt.id)"><i class="fa fa-eye"></i>
                  View</a>
                <button class="btn btn-sm btn-secondary" onclick="Comments.setResolved(this, '@{"cmtsts"+cmt.id}', @cmt.id, @if(cmt.resolved){false}else{true})">
                  Mark as @if(cmt.resolved){Unresolved}else{Resolved}</button>
                <button class="btn btn-sm btn-secondary" onclick="Comments.deleteComment('@cmt.id','@ver.md.id.modelId', '@ver.md.id.version')"><i class="fa fa-trash-o"></i> Delete</button>
              </td>
            </tr>
            <tr>
              <td class="commentCtnr" colspan="5">
                <div class="commentContent">
                @cmt.comment
                </div>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>

}