@(vpm:VersionedPolicyModel,
        versions:Seq[(PolicyModelVersion, Option[PolicyModelVersionKit])], enableEdits:Boolean, message:Option[String] )

@scripts ={
  @if(versions.map(_._2).exists(_.isEmpty)){
    <script language="Javascript">
      console.log("missing models detected. Will reload window");
      window.setTimeout( function(){ window.location.reload(); }, 3000 );
    </script>
  }
  <script language="JavaScript">
    $(document).ready( function(){
        JsUtils.fillAccessLinks();
    })
  </script>
  <script src="@routes.Assets.at("js/DeleteVersion.js")"></script>
}

@templates.backend("Versioned Policy Model Editor", 'backOffice, scripts ) {

  <div class="row">
    <div class="col-md-12">
      <h3>@if(enableEdits){
        <div class="pull-right">
          <a class="btn btn-default" href="@routes.PolicyKitManagementCtrl.showEditVpmPage(vpm.id)">
            <i class="fa fa-edit"></i> Edit</a>
        </div>
      }
        @vpm.title
      </h3>
      <h6><code>@vpm.id</code></h6>
    </div>
  </div>
  @for( m <- message ){
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          @m
        </div>
      </div>
    </div>
  }
  @if( vpm.note.trim.nonEmpty ) {
    <div class="row">
      <div class="col-md-12">
        @vpm.note
      </div>
    </div>
  }
  <div class="row">
    <div class="col-md-12">
      <h4>
        <div class="pull-right">
          <a class="btn btn-default" href="@routes.PolicyKitManagementCtrl.showNewVersionPage(vpm.id)">
            <i class="fa fa-plus-circle"></i> Add New Version</a>
        </div>
        Versions
        <div class="clearfix"></div>
      </h4>
      @if( versions.isEmpty ) {
        <div class="noData">
          This model currently has no versions. @if(enableEdits){Why not <a href="@routes.PolicyKitManagementCtrl.showNewVersionPage(vpm.id)">add one</a>?}
        </div>
      } else {
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Status</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for( v <- versions ) {
              <tr>
                <td><a href="@routes.PolicyKitManagementCtrl.showVersionPage(vpm.id,v._1.version)">@v._1.version</a></td>
                <td><a href="@routes.PolicyKitManagementCtrl.showVersionPage(vpm.id,v._1.version)">
                  @v._2.map( k=>if(k.model!=null) {k.model.getMetadata.getTitle} else{"Model not loaded"}).getOrElse("Model Missing")
                </a>
                  @for( kit <- v._2 ) {
                    @if(kit.messages.nonEmpty){<span class="label label-warning"><i class="fa fa-warning"></i></span>}
                    @if(! kit.canRun){<span class="label label-danger"><i class="fa fa-times-circle"></i> model error</span>
                  }
                </td>
                <td>
                  @comps.commentingStatus(v._1.commentingStatus)
                  @comps.publicationStatus(v._1.publicationStatus)
                  @if( v._1.publicationStatus == PublicationStatus.LinkOnly ) {
                    <br><code><a href="" data-role="accessLink" data-link="@v._1.accessLink"></a></code>
                  }
                </td>
                <td>@Helpers.dateTimeFormat(v._1.lastUpdate)</td>
                <td>
                  <a class="btn btn-default btn-sm" href="@routes.PolicyKitManagementCtrl.showEditVersionPage(v._1.parentId, v._1.version)"><i class="fa fa-edit"></i> Edit</a>
                  <button class="btn btn-default" onclick="DeleteVersion.deleteVersion('@v._1.parentId', '@v._1.version')">
                    <i class="fa fa-trash-o"></i> Delete
                  </button>
                  @v._2 match {
                    case None      => {<button type="button" class="btn btn-default" disabled>Processing...</button>}
                    case Some(kit) => {@if(kit.canRun){<a class="btn btn-primary btn-sm" href="@routes.InterviewCtrl.interviewIntro(v._1.parentId, v._1.version)"><i class="fa fa-play"></i> Run</a>}}
                  }
                </td>
              </tr>
              }
            }
          </tbody>
        </table>
      }
    </div>
  </div>
}