@import edu.harvard.iq.datatags.externaltexts.TrivialLocalization
@(ver:VersionKit, model:Model, comments:Seq[Comment])(implicit msgs:MessagesProvider)

@scripts ={
@if(ver.md.runningStatus == RunningStatus.Processing){
  <script language="Javascript">
          window.setTimeout( function(){ window.location.reload(); }, 3000 );
  </script>
}
  <script language="JavaScript">
          $(document).ready( function(){
            JsUtils.fillAccessLinks();
          })
  </script>
  <script src="@routes.Assets.at("js/DeleteVersion.js")"></script>
}


@templates.backend("Version Viewer", 'backOffice, scripts ) {
  <div class="row">
    <div class="col-md-12">
      <a href="@routes.ModelCtrl.showModelPage(model.id)">
        <i class="fa fa-arrow-left"></i> @model.title
      </a>
      <h3>
        <div class="float-right">
          @ver.policyModel match {
            case None      => {<button type="button" class="btn btn-secondary" disabled>Processing...</button>}
            case Some(kit) => {@if(ver.md.runningStatus == RunningStatus.Runnable){<a class="btn btn-primary" href="@routes.InterviewCtrl.interviewIntro(ver.md.id.modelId, ver.md.id.version)"><i class="fa fa-play"></i> Run</a>}}
          }
          <a class="btn btn-secondary" href="@routes.ModelCtrl.showEditVersionPage(ver.md.id.modelId, ver.md.id.version)">
            <i class="fa fa-edit"></i> Edit
          </a>
          <button type="button" class="btn btn-danger" onclick="DeleteVersion.deleteVersion('@ver.md.id.modelId', '@ver.md.id.version')">
            <i class="fa fa-trash-o"></i> Delete
          </button>
        </div>
        @ver.policyModel.flatMap( k => Option(k)).map(_.getMetadata.getTitle ).getOrElse(model.id + "/" + ver.md.id.version)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Server Data</h4>
      <div class="help">
        This part shows the status of the version in the server. It is editable by clicking the <a href="@routes.ModelCtrl.showEditVersionPage(ver.md.id.modelId, ver.md.id.version)">
          <i class="fa fa-edit"></i> Edit
        </a> button.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Last Update</th>
            <td>@Helpers.dateTimeFormat(ver.md.lastUpdate)</td>
          </tr>
          <tr>
            <th>Viewable By</th>
            <td>
              @comps.publicationStatus(ver.md.publicationStatus)
              @if( ver.md.publicationStatus == PublicationStatus.LinkOnly ) {
                <br>
                <a class="publicLink" href="" data-role="accessLink" data-link="@ver.md.accessLink"></a>
              }
            </td>
          </tr>
          <tr>
            <th>Commenting Status</th>
            <td>
              @comps.commentingStatus(ver.md.commentingStatus)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <strong>Note</strong>
      @if( Helpers.hasContent(ver.md.note) ) {
        <div class="card bg-info border-info"><div class="card-body">@ver.md.note</div></div>
      } else {
        <div class="noData">This version has no note.</div>
      }
    </div>
  </div>

  @for( model <- ver.policyModel ) {
    <div class="row my-2">
      <div class="col">
        <h4>Model Data</h4>
        <div class="help">
        This part shows data about the policy model itself. It cannot be edited in this site; a new model .zip file has to be uploaded
          in order to change the data here.
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-6">
        <h5>Metadata</h5>
        @if( model!=null ) {
          @comps.versionMetadataTable(model.getMetadata)
        } else {
          <div class="alert alert-danger">Model failed to load. See messages section.</div>
        }
      </div>
      <div class="col-md-6">
        <h5>Messages</h5>
        @comps.kitMessageList(if(ver.md.messages.trim != "") {ver.md.messages.split("\n%%%\n").grouped(2).map(arr => (arr(0), arr(1))).toSeq} else {Seq[(String, String)]()})
      </div>
    </div>
  }

  <div class="row my-2">
    <div class="col">
      @defining( comments.count(!_.resolved)) { unresolved =>
        <h4>Comments @if(unresolved>0){<span class="badge">@unresolved</span>}</h4>
      }
      <div class="help">
        Comments users left on various parts of this model.
      </div>
      @if( comments.isEmpty ) {
        <div class="noData">
          No comments.
        </div>
      } else {
        <table class="table">
          <thead>
            <tr>
              <th>Who</th>
              <th>Subject</th>
              <th>Time</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          @for(cmt <- comments) {
            <tr>
              <td>@cmt.writer</td>
              <td>@cmt.targetType.trim/@cmt.targetContent @for( loc <-cmt.localization.filter( ln=>ln!=TrivialLocalization.LANGUAGE_NAME)) { (Localization: @loc) }
              </td>
              <td>@Helpers.dateTimeFormat(cmt.time)</td>
              <td>@comps.commentStatus(cmt, Some("cmtsts"+cmt.id))</td>
              <td>
                <a class="btn btn-sm btn-secondary" href="@routes.CommentsCtrl.showComment(cmt.id)"><i class="fa fa-eye"></i>
                  View</a>
                <button class="btn btn-sm btn-secondary" onclick="Comments.setResolved(this, '@{"cmtsts"+cmt.id}', @cmt.id, @if(cmt.resolved){false}else{true})">
                  Mark as @if(cmt.resolved){Unresolved}else{Resolved}</button>
                <button class="btn btn-sm btn-secondary" onclick="Comments.deleteComment('@cmt.id','@ver.md.id.modelId', '@ver.md.id.version')"><i class="fa fa-trash-o"></i> Delete</button>
              </td>
            </tr>
            <tr>
              <td class="commentCtnr" colspan="5">
                <div class="commentContent">
                @cmt.comment
                </div>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>

}