@()

@main("Sample PoMoS Client App", "twoColumns") {
  <header>
    <h1>Sample PolicyModel Server Client</h1>
    <p>
      This is a sample application that requests an interview from a PolicyModels server, and displays the interview result.
      For this to work, you'll need a PolicyModels Server running, and an IP address that server can send the results back to.
    </p>
  </header>
  <div class="controls">
    <h2>Controls</h2>
    <section>
      <label for="fldServerAddress">PolicyModels Server</label>
      <input type="text" name="serverAddress" id="fldServerAddress" value="http://localhost:9000">
      <small>Address of the PolicyModels server (URL)</small>
    </section>

    <section>
      <h3>List Available Models</h3>
      <button type="button" class="httpButton" onclick="listModels()">GET</button> <code>/api/1/models/</code>
    </section>

    <section>
      <h3>List Model Versions</h3>
      <button type="button" class="httpButton" onclick="listVersions()">GET</button><code id="codeListVersions"> /api/1/models/<input class="httpField" style="width:10em" id="livModelId">/</code>
    </section>

    <section>
      <h3>Model version info</h3>
      <button type="button" class="httpButton" onclick="versionInfo()">GET</button><code id="codeListVersions"> /api/1/models/<input class="httpField" style="width:10em" id="mviModelId">/<input type="number" min="1" class="httpField" style="width:10em" id="mviVersion">/</code>
    </section>

    <section>
      <h3>Request Interview</h3>
      <p>
        Newest version:<br><br>
        <button type="submit" class="httpButton" onclick="requestInterviewNewest()">POST</button><code> /api/1/models/<input class="httpField" style="width:10em" id="rinModelId">/requests </code>
      </p>
      <p>
        Specific version:<br><br>
        <button type="submit" class="httpButton" onclick="requestInterviewSpecific()">POST</button><code> /api/1/models/<input class="httpField" style="width:10em" id="risModelId">/<input class="httpField" type="number" style="width:10em" id="risModelVersion">/requests </code>
      </p>

      <div id="interviewReady">
        Interview ready at:
        <a href="" id="interviewReadyHref"></a>
      </div>

      <fieldset>
        <legend>Payload (JSON)</legend>

        <label for="fldCallbackURL">callbackURL</label>
        <input type="text" name="callbackURL" id="fldCallbackURL" autocomplete="off" value="">
        <small>
          The URL where the PolicyModels Server will <code>POST</code> the results to.
          It is possible to add parameters to this URL address so that the requesting server
          can associate returned interview results with its internal state.
        </small>
        <br>


        <label for="fldLocalization">localization</label>
        <input type="text" name="modelId" id="fldLocalization">
        <small>Optional - the localization to use.</small>
        <br>

        <label for="fldMessage">Message</label>
        <input name="fldMessage" id="fldMessage">
        <small>Optional - messages to the users before the interview begins. Currently ignored, future versions will display it.</small>
        <br>

        <label for="fldRbTitle">Return button title</label>
        <input  name="fldRbTitle" id="fldRbTitle" value="The interview is complete, let's continue">
        <small>Title to appear on above the button that submits interview results.</small>

        <label for="fldRbText">Return button text</label>
        <input  name="fldRbText" id="fldRbText" value="Submit Results">
        <small>Title to appear on above the button that submits interview results.</small>
        <br>
      </fieldset>
    </section>

  </div>
  <div class="consoleCtnr">
    <h2>Console</h2>
    <button onclick="consoleClean()" style="float:right">Clear</button>
    <div>Results will appear below.</div>
    <div id="console">
    </div>
  </div>
}
