@(text: Option[Setting])(implicit req:Request[_], msgs:MessagesProvider, pcd:PageCustomizationData)

@defaultText = {
  <h1>PolicyModels server is READY</h1>
  <p>
    This is a newly installed <a href="https://github.com/IQSS/DataTaggingServer/">PolicyModels</a> web server.
    If you are a server admin, you can (and probably should) edit this page by logging in, and going to
    <code>@Messages("navbar.customize") &gt; @Messages("navbar.customize.pages")</code>
  </p>
}

@templates.publicPages("PolicyModel Server", views.PublicSection.Index) {
  @comps.pageTitleRow(pcd.serverName.getOrElse("PolicyModels Server")){
    <a href="@routes.Application.publicModelCatalog" class="btn btn-primary btn-lg">@Messages("index.modelCatalogButton")</a>
  }

  <div class="row my-5">
    <div class="col">
    @if( Helpers.hasContent(text.map(_.value)) ){
      <div class="ql-edited">@Html(text.get.value)</div>
    } else { @defaultText }
    </div>
  </div>
}