@(models: Seq[Model])(implicit req:Request[_])

@templates.bsNavBar("PolicyModels: Server Catalog", Symbol("frontEnd")) {
  <div class="container" id="content">
    <div class="row">
      <div class="col-md-12">
        <h1>Available Models</h1>

        <ul class="list-unstyled">
        @for(model <- models) {
          <li>
            <h4><a href="@routes.Application.showModel(model.id)">@model.title</a></h4>
            @if( model.note!=null && model.note.trim.nonEmpty ) {
              <p>@model.note</p>
            }
          </li>
        }
        </ul>
      </div>
    </div>
  </div>
}