@(model:Model, versions:Seq[VersionMD] )(implicit req:Request[_], msgs:MessagesProvider, pcd:models.PageCustomizationData)

@scripts = {
  <script language="JavaScript">
    $(document).ready( function(){
       JsUtils.addHost("#linkToLatest");
    });
  </script>
}

@templates.publicPages(model.title, views.PublicSection.Models, scripts ) {

  <div class="row">
    <div class="col-md-8">
      <a href="@routes.Application.publicModelCatalog()"><i class="fa fa-list"></i> Models List</a>
      <h3>
        @model.title
      </h3>
      <h6>Permalink to Latest version:
          <a id="linkToLatest" href="@routes.ModelCtrl.showLatestVersion(model.id)">@routes.ModelCtrl.showLatestVersion(model.id)</a>
      </h6>
      <h6><code>@model.id</code></h6>
    </div>
    @if( versions.nonEmpty ) {
      <div class="col-md-4">
        <div class="text-right">
          <a href="@routes.InterviewCtrl.interviewIntro(versions.head.id.modelId, versions.head.id.version)"
          class="btn btn-lg btn-primary">
            <i class="fa fa-play"></i> Run Latest Version
          </a>
        </div>
      </div>
    }
  </div>

  @if( model.note.trim.nonEmpty ) {
    <div class="row">
      <div class="col-md-12">
        @model.note
      </div>
    </div>
  }

  <div class="row">
    <div class="col-md-12">
      @if( versions.isEmpty ) {
        <div class="noData">
          This model currently has no published versions.
        </div>
      } else {
        <h4>
          All Versions
        </h4>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Last Update</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for( v <- versions ) {
              <tr>
                <td>@v.id.version</td>
                <td>
                  @if(v.runningStatus != RunningStatus.Failed) {
                    @v.pmTitle
                    @if(Helpers.hasContent(v.pmSubTitle)) {
                      <small>@v.pmSubTitle</small>
                    }
                  } else {
                    <div class="noData">Missing Model</div>
                  }
                </td>
                <td>@v.lastUpdate</td>
                <td>
                  @if(v.runningStatus == RunningStatus.Runnable){
                    <a class="btn btn-primary btn-sm" href="@routes.InterviewCtrl.interviewIntro(v.id.modelId, v.id.version)"><i class="fa fa-play"></i> Run</a>
                  }
                </td>
              </tr>
              @if(v.note.trim.nonEmpty){
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="3" class="noteTd">@v.note</td>
                  <td>&nbsp;</td>
                </tr>
              }

            }
          </tbody>
        </table>
      }
    </div>
  </div>
}