@import views._
@import views.html.templates.bsBase
@import views.html.comps

@(title:String, currentSection:BackOfficeSection.Value, scripts: Html=Html(""), extraHead: Html=Html(""))(content:Html)(implicit request: RequestHeader, msgs:MessagesProvider)

@headPart = {
	@extraHead
	<link href="@routes.Assets.versioned("css/navbar-extras.min.css")" rel="stylesheet">
  <meta name="robots" content="noindex, nofollow">
}

@bsBase(title, scripts, headPart) {
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/"><img src="@routes.CustomizationCtrl.getServerLogo" height="30px" alt="Server Logo"> @Messages("navbar.title")</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        @for( sec <- Structure.backOfficeSections ){
          @comps.showSection(sec, currentSection==sec.id)
        }
        </ul>
        <div class="nav ml-auto">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://datatags.org" target="_blank" title="Project's home"><i class="fa fa-home"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="https://github.com/IQSS/DataTags/" title="We're open source! Visit us at GitHub" target="_blank"><i class="fa fa-github-alt"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://iq.harvard.edu" title="Institute of Quantitative Social Science" target="_blank">IQSS</a></li>
          </ul>
          <form class="form-inline" method="POST" action="@routes.UsersCtrl.doLogout">
            <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fa fa-sign-out"></i> Logout</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
} {
	@content
}