@(title:String, scripts: Html=Html(""), extraHead: Html=Html(""))(top:Html=Html(""))(content:Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@title</title>

    <link href="@routes.Assets.versioned("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
	  <link rel="stylesheet" href="@routes.Assets.versioned("vnd/quilljs/quill.display.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/tags.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/main.min.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/styledInputs.min.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/Informationals.min.css")">
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
	   @extraHead
  </head>
  <body>
  <a href="#content" class="sr-only">Skip to main content</a>
  @top
  <div class="container" id="content">
    @content
  </div>
  <footer>
    <div class="container">
      <div class="pre-release-warn">
        <i class="fa fa-warning fa-lg"></i> Do not use interview results as a legal recommendation.
      </div>
      <ul class="list-inline">
        <li class="list-inline-item">PolicyModels/DataTags project: <a href="http://datatags.org">datatags.org</a>.<br>
            &copy; 2019 by the President and Fellows of Harvard College.</li>
        <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="National Science Foundation" href="http://nsf.gov" target="_blank"><img src="/assets/images/nsf-logo-small.png" alt="NSF logo" /></a></li>
        <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="The Dataverse Project" href="http://thedata.org" target="_blank"><img src="/assets/images/dvn-logo-small.png" alt="Dataverse logo" /></a></li>
        <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Data Privacy Lab, IQSS at Harvard University" href="http://dataprivacylab.org/" target="_blank"><img src="/assets/images/dpl-logo-small.png" alt="Data Privacy Lab logo" /></a></li>
        @*<li><a data-toggle="tooltip" data-placement="top" title="Berkman Center for Internet and Society at Harvard University" href="http://cyber.law.harvard.edu/" target="_blank"><img src="/assets/images/berkman-logo-small.png" alt="Berkman Center logo" /></a></li>*@
        <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="Privacy Tools for Sharing Research Data, at Harvard School of Engineering and Applied Sciences" href="http://privacytools.seas.harvard.edu" target="_blank"><img src="/assets/images/seas-logo-small.png" alt="Harvard SEAS logo" /></a></li>
        <li class="list-inline-item"><a data-toggle="tooltip" data-placement="top" title="The Institute for Quantitative Social Science at Harvard University" href="http://iq.harvard.edu" target="_blank"><img src="/assets/images/iqss-logo-small.png" alt="IQSS logo" /></a></li>
      </ul>
      <div class="commitTag">
        Commit: @comps.buildTag()
      </div>
      <hr>
      <ul>
        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://datatags.org" target="_blank" title="Project's home"><i class="fa fa-home"></i></a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="https://github.com/IQSS/DataTags/" title="We're open source! Visit us at GitHub" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://iq.harvard.edu" title="Institute of Quantitative Social Science" target="_blank">IQSS</a></li>
      </ul>
    </div>
  </footer>   
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/popper.js/umd/popper.js")"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/sweetalert/sweetalert.min.js")"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.versioned("js/JsUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/UiUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/Informationals.js")"></script>
    <script src="@routes.Assets.versioned("js/Comments.js")"></script>
    @scripts
  <script type="text/javascript">
    $(document).ready( function(){ 
      $("span[data-toggle='popover']").popover(); 
      $("span[data-toggle='tooltip']").tooltip(); 
    } );
  </script>
  </body>
</html>
