@(title:String, scripts: Html=Html(""), extraHead: Html=Html(""), pcd:Option[PageCustomizationData]=None)(top:Html=Html(""))(content:Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@title</title>

    <link href="@routes.Assets.versioned("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
	  <link rel="stylesheet" href="@routes.Assets.versioned("vnd/quilljs/quill.display.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/tags.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/main.min.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/styledInputs.min.css")">
	  <link rel="stylesheet" href="@routes.Assets.versioned("css/Informationals.min.css")">
     @extraHead
  </head>
  <body>
  <a href="#content" class="sr-only">Skip to main content</a>
  @top
  <div class="container" id="content">
    @content
  </div>
    @footer(pcd)
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/popper.js/umd/popper.js")"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/sweetalert/sweetalert.min.js")"></script>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes?@controllers.Application.jsRoutesHash"></script>
    <script src="@routes.Assets.versioned("js/JsUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/UiUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/Informationals.js")"></script>
    <script src="@routes.Assets.versioned("js/Comments.js")"></script>
    @scripts
  <script type="text/javascript">
    $(document).ready( function(){ 
      $("span[data-toggle='popover']").popover(); 
      $("span[data-toggle='tooltip']").tooltip(); 
    } );
  </script>
  @for( analyticsCode <- pcd.map(_.analyticsCode)){@Html(analyticsCode)}
  </body>
</html>
