@(title:String, section:Symbol, scripts: Html=Html(""), extraHead: Html=Html(""))(content:Html)(implicit req:Request[_])

@headPart = {
	@extraHead
	<link href="@routes.Assets.at("css/navbar-extras.min.css")" rel="stylesheet">
}

@bsBase(title, scripts, headPart) {
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="/">Policy<strong>Models</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
      @if(Helpers.userPresent(req)) {
        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="User Home" href="@routes.BackendCtrl.index"><i class="fa fa-cogs"></i></a></li>
      } else {
      <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Log in to manage" href="@routes.UsersCtrl.showLogin"><i class="fa fa-sign-in"></i></a>
    }
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://datatags.org" target="_blank" title="Project's home"><i class="fa fa-home"></i></a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="https://github.com/IQSS/DataTags/" title="We're open source! Visit us at GitHub" target="_blank"><i class="fa fa-github-alt"></i></a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tooltip" data-placement="bottom" href="http://iq.harvard.edu" title="Institute of Quantitative Social Science" target="_blank">IQSS</a></li>
    </ul>
  </div>

</nav>
} {
	@content
}