@(pcd:Option[PageCustomizationData])
<footer>
  <div class="container-fluid">
    @for( warn <- pcd.flatMap(_.liabilityStatement)) {
      <div class="row my-2">
        <div class="col">
          <div class="pre-release-warn">
            <i class="fa fa-warning fa-lg"></i> @warn
          </div>
        </div>
      </div>
    }
    <div class="row my-2">
      @for( ft <- pcd.flatMap(_.footer)) {
        <div class="col-sm text-left">
          @Html(ft)
        </div>
      }
      <div class="col text-right">
        <a class="footerLink" data-toggle="tooltip" data-placement="top" title="The Institute for Quantitative Social Science at Harvard University" href="http://iq.harvard.edu" target="_blank"><span class="iqssSprite">&nbsp;</span></a>
        <a class="footerLink" data-toggle="tooltip" data-placement="top" href="https://github.com/IQSS/DataTags/" title="PolicyModels Language at GitHub" target="_blank"><i class="fa fa-github"></i><sub>lang</sub></a>
        <a class="footerLink" data-toggle="tooltip" data-placement="top" href="https://github.com/IQSS/DataTaggingServer/" title="PolicyModels Server at GitHub" target="_blank"><i class="fa fa-github"></i><sub>srv</sub></a>
        Powered by <img src="@routes.Assets.versioned("images/pomo_logo.svg")" height="40px" alt="PolicyModels logo" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-right">
        <span class="commitTag">
          Commit: @comps.buildTag()
        </span>
      </div>
    </div>
  </div>
</footer>