@(title:String, currentSection:views.PublicSection.Value, scripts: Html=Html(""), extraHead: Html=Html("")
)(content:Html
)(implicit req:Request[_], msgs:MessagesProvider, pcd:models.PageCustomizationData)

@headPart = {
	@extraHead
	<link href="@routes.Assets.versioned("css/navbar-extras.min.css")" rel="stylesheet">
  @if(pcd.css.nonEmpty){
    <style type="text/css">
      @Html(pcd.css)
    </style>
  }
}

@bsBase( pcd.serverName.map( _+"| ").getOrElse("") + title, scripts, headPart, Some(pcd)) {
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light-transparent">
  <a class="navbar-brand" href="/"><img src="@routes.CustomizationCtrl.getServerLogo" height="30px" alt="Server Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      @for( sec <- views.Structure.publicSections ){
        @comps.showSection(sec, currentSection==sec.id)
      }
      @if(pcd.hasNavbarData){
        <li class="nav-item">
          <a class="nav-link" href="@pcd.navbarUrl.get">@pcd.navbarText.get <i class="fa fa-external-link"></i></a>
        </li>
      }
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
      @if( Helpers.userPresent(req) ) {
        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="User Home" href="@routes.CustomizationCtrl.index"><i class="fa fa-cogs"></i></a></li>
      } else {
        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Log in" href="@routes.UsersCtrl.showLogin"><i class="fa fa-sign-in"></i></a>
      }
      </li>
    </ul>
  </div>

</nav>
} {
	@content
}