@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.model.policyspace.values.AtomicValue
@import edu.harvard.iq.policymodels.model.policyspace.values.AbstractValue
@import edu.harvard.iq.policymodels.model.policyspace.slots.AbstractSlot
@( session :InterviewSession,
   codeTag :Option[edu.harvard.iq.policymodels.model.policyspace.values.AbstractValue],
        topValues:Seq[AbstractValue],
        topSlotsAsValues:Seq[(String, AbstractValue)],
        availableLanguages:Seq[String]
)(implicit req:Request[_], msgs: MessagesProvider)

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/Question.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/tagValueDetailed.js")"></script>
}

@extraHead = {
@whenRTL(session.localization){
  <link rel="stylesheet" href="@routes.Assets.versioned("css/rtl.min.css")">
}
}


@templates.bsNavBar("Interview Completed", Symbol("ask"), scripts, extraHead) {
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end align-items-baseline" style="margin:0 .5rem">
      @comps.changeLanguageMenu(session.localization, availableLanguages,
        l=>routes.InterviewCtrl.accept(session.kit.md.id.modelId, session.kit.md.id.version, l))
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header bg-info text-white">
          @Messages("interview.completed")
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="resultTabs" role="tablist" style="justify-content: center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" id="detailedTabTitle" href="#detailedTab">@Messages("interview.report")</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#summaryTab" id="summaryTabTitle">@Messages("interview.summary")</a>
            </li>
          </ul>
          <div class="tab-content" id="resultTabsContent">
            <div class="tab-pane show active" id="detailedTab" role="tabpanel" aria-labelledby="detailedTabTitle">
              @comps.tagValueDetailed(session.tags, session.localization, session.kit.md.slotsVisibility, topValues, topSlotsAsValues)
            </div>
            <div class="tab-pane fade" id="summaryTab" role="tabpanel" aria-labelledby="summaryTabTitle">
              @comps.tagValue(session.tags, session.localization)
            </div>
          </div>
          <div class="text-center mt-2 buttonsCtnr">
            <a href="@routes.InterviewCtrl.downloadTags" class="btn btn-primary">
              <i class="fa fa-download"></i>&nbsp;@Messages("interview.download.json")
            </a>
            <div class="btn-group rtl-aware">
              <a href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, None, None)" class="btn btn-primary">
                <i class="fa fa-book"></i>&nbsp;@Messages("interview.transcript")
              </a>
              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, Some("xml"), None)">@Messages("interview.download.xml")</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          @Messages("interview.answerHistory")
        </div>
        <div class="card-body">
        @comps.answerHistory(session.answerHistory, session.kit.md.id, false, session.kit.serializer, session.localization)
        </div>
      </div></div></div>
  <div class="row my-2">
    <div class="col text-center">
      @session.requestedInterview match {
        case Some(reqInt) => {
          <p>@reqInt.returnButtonTitle</p>
          <form action="@routes.RequestedInterviewCtrl.postBackTo(reqInt.key)" method="POST">
            <button class="btn btn-primary" type="submit">@reqInt.returnButtonText</button>
          </form>
        }
        case None => {
          <a href="@routes.InterviewCtrl.interviewIntro(session.kit.md.id.modelId, session.kit.md.id.version)" class="btn btn-primary">@Messages("interview.startAgain")</a>
        }
      }
    </div>
  </div>
}



