@import edu.harvard.iq.datatags.externaltexts.Localization
@import edu.harvard.iq.datatags.model.values.AtomicValue
@( session :InterviewSession,
   codeTag :Option[edu.harvard.iq.datatags.model.values.AbstractValue]
)(implicit req:Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/tagValueDetailed.js")"></script>
}

@extraHead = {
@if(session.localization.isRtl){
  <link rel="stylesheet" href="@routes.Assets.at("css/rtl.min.css")">
}
}


@templates.bsNavBar("Interview Completed", 'ask, scripts, extraHead) {
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header bg-info text-white">
          Interview Completed - Final Results
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="resultTabs" role="tablist" style="justify-content: center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" id="detailedTabTitle" href="#detailedTab">Detailed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#summaryTab" id="summaryTabTitle">Summary</a>
            </li>
          </ul>
          <div class="tab-content" id="resultTabsContent">
            <div class="tab-pane show active" id="detailedTab" role="tabpanel" aria-labelledby="detailedTabTitle">
              @comps.tagValueDetailed(session.tags, session.localization)
            </div>
            <div class="tab-pane fade" id="summaryTab" role="tabpanel" aria-labelledby="summaryTabTitle">
              @comps.tagValue(session.tags, session.localization)
            </div>
          </div>
          <div class="text-center mt-2 buttonsCtnr">
            <a href="@routes.InterviewCtrl.downloadTags" class="btn btn-primary">
              <i class="fa fa-download"></i>&nbsp;Download Policy as JSON
            </a>
            <a href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, None)" class="btn btn-primary">
              <i class="fa fa-book"></i>&nbsp;Interview Transcript
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          Answer History
        </div>
        <div class="card-body">
        @comps.answerHistory(session.answerHistory, session.kit.md.id, false, session.kit.serializer, session.localization)
        </div>
      </div></div></div>
  <div class="row my-2">
    <div class="col text-center">
      @session.requestedInterview match {
        case Some(reqInt) => {
          <p>@reqInt.returnButtonTitle</p>
          <form action="@routes.RequestedInterviewCtrl.postBackTo(reqInt.key)" method="POST">
            <button class="btn btn-primary" type="submit">@reqInt.returnButtonText</button>
          </form>
        }
        case None => {
          <a href="@routes.InterviewCtrl.interviewIntro(session.kit.md.id.modelId, session.kit.md.id.version)" class="btn btn-primary">Start Again</a>
        }
      }
    </div>
  </div>
}



