@import edu.harvard.iq.datatags.externaltexts.Localization
@import edu.harvard.iq.datatags.model.graphs.nodes._
@import collection.mutable.Set

@(verKit: VersionKit, loc:Localization)(implicit req:Request[_])

@visitAskNode( nd:AskNode, baseLevel:Boolean, visited:Set[String] ) = {
  <div class="question">
    @comps.questionPanel(nd, verKit, loc, Seq(), enableComments = true, false, showId = true, false, None)
    @for( a <- nd.getAnswers ) {
      @visitNode( nd.getNodeFor(a), baseLevel, visited )
    }
  </div>
}

@visitCallNode( cn:CallNode, baseLevel:Boolean, visited:Set[String] ) = {
  @visitNode(cn.getNextNode, baseLevel, visited)
}

@visitSectionNode( nd:SectionNode, baseLevel:Boolean, visited:Set[String] ) = {
  <div class="node section">
    <h4>Section: @nd.getTitle</h4>
    @visitNode(nd.getStartNode, baseLevel, visited)
  </div>
  @visitNode(nd.getNextNode, baseLevel, visited)
}

@visitPartNode( nd:PartNode, baseLevel:Boolean, visited:Set[String] ) = {
  <div class="node part" id="part-@nd.getId()">
    <h4>Part: @nd.getTitle</h4>
    @visitNode(nd.getStartNode, baseLevel, visited)
  </div>
}


@visitConsiderNode( c:ConsiderNode, baseLevel:Boolean, visited:Set[String] ) = {
    @for( a <- c.getAnswers ) {
      @visitNode( c.getNodeFor(a), baseLevel, visited )
    }
    @if( c.getElseNode != null ) {
      @visitNode(c.getElseNode, baseLevel, visited)
    }
}

@visitThroughNode( tn:ThroughNode, baseLevel:Boolean, visited:Set[String] ) = {
  @visitNode( tn.getNextNode, baseLevel, visited )
}

@visitNode( nd:Node, baseLevel:Boolean, visited:Set[String] ) = {
  @if( !visited.contains(nd.getId) ){
    @{visited.add(nd.getId);""}
    @nd match {
      case a:AskNode => {@visitAskNode(a, baseLevel, visited)}
      case b:SectionNode => {@visitSectionNode(b, baseLevel, visited)}
      case c:ConsiderNode => {@visitConsiderNode(c, baseLevel, visited)}
      case ca:CallNode => {@visitCallNode(ca, baseLevel, visited)}
      case t:ThroughNode => {@visitThroughNode(t, baseLevel, visited)}
      case p:PartNode => {@visitPartNode(p,baseLevel,visited)}
      case n:EndNode => {}
      case n:RejectNode => {}
      case n:ContinueNode => {}
  }}
}

@extraHead = {
  @if(loc.isRtl){
    <link rel="stylesheet" href="@routes.Assets.at("css/rtl.min.css")">
  }
}


@templates.bsNavBar("Interview questions: " + verKit.policyModel.get.getMetadata.getVersion, 'tag, extraHead = extraHead ) {
  <div class="row">
    <div class="col-md-12">
      <a href="@routes.InterviewCtrl.interviewIntro(verKit.md.id.modelId, verKit.md.id.version)">@comps.backArrow(loc) Back</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        All Interview Questions
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="allQuestions">
        @visitNode( verKit.policyModel.get.getDecisionGraph.getStart, baseLevel = true, Set[String]() )
        @for( nd <- verKit.policyModel.get.getDecisionGraph.nodes.asScala.filter(_.isInstanceOf[PartNode]) ) {
          @visitPartNode(nd.asInstanceOf[PartNode], true, Set() )
        }
      </div>
    </div>
  </div>
}