@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.externaltexts.LocalizationTexts
@import edu.harvard.iq.policymodels.model.decisiongraph.nodes._
@import collection.mutable.Set
@import scala.jdk.CollectionConverters._
@import scala.collection.mutable
@import edu.harvard.iq.policymodels.model.decisiongraph.nodes.PartNode
@import util.PolicyModelsUtils
@(verKit: VersionKit, availableLanguages:Seq[String], loc:Localization
)(implicit req:Request[_], msgs: MessagesProvider, pcd:models.PageCustomizationData)

@visitAskNode( nd:AskNode, baseLevel:Boolean, visited:Set[String] ) = {
  <div class="question">
    @comps.questionPanel(nd, verKit, loc, Seq(), enableComments = true, false, showId = true, false, None)
  </div>
  @for( a <- nd.getAnswers ) {
    @visitNode( nd.getNodeFor(a), baseLevel, visited )
  }
}

@visitCallNode( cn:CallNode, baseLevel:Boolean, visited:Set[String] ) = {
  @visitNode(cn.getNextNode, baseLevel, visited)
}

@visitSectionNode( nd:SectionNode, baseLevel:Boolean, visited:mutable.Set[String] ) = {
  @if( PolicyModelsUtils.hasAskNodes(nd.getStartNode) ) {
    @defining(Helpers.o2o(loc.getSectionTexts(nd.getId)).getOrElse(new LocalizationTexts(nd.getTitle, null, null))) { lt =>
      <div class="node section">
        <h4>@Messages("interview.section"): @lt.name</h4>
        @if(lt.smallNote != null) {
          <p>@lt.smallNote</p>
        }
        @if(lt.bigNote != null) {
          @Helpers.renderMarkdown(lt.bigNote)
        }
        @visitNode(nd.getStartNode, baseLevel, visited)
      </div>
    }
  }
  @visitNode(nd.getNextNode, baseLevel, visited)
}

@visitPartNode( nd:PartNode, baseLevel:Boolean, visited:Set[String] ) = {
  <div class="node part" id="part-@nd.getId()">
    <h4>@Messages("interview.part"): <code>@nd.getId</code></h4>
    @visitNode(nd.getStartNode, baseLevel, visited)
  </div>
}


@visitConsiderNode( c:ConsiderNode, baseLevel:Boolean, visited:Set[String] ) = {
    @for( a <- c.getAnswers ) {
      @visitNode( c.getNodeFor(a), baseLevel, visited )
    }
    @if( c.getElseNode != null ) {
      @visitNode(c.getElseNode, baseLevel, visited)
    }
}

@visitThroughNode( tn:ThroughNode, baseLevel:Boolean, visited:Set[String] ) = {
  @visitNode( tn.getNextNode, baseLevel, visited )
}

@visitNode( nd:Node, baseLevel:Boolean, visited:Set[String] ) = {
  @if( !visited.contains(nd.getId) ){
    @{visited.add(nd.getId);""}
    @nd match {
      case a:AskNode => {@visitAskNode(a, baseLevel, visited)}
      case b:SectionNode => {@visitSectionNode(b, baseLevel, visited)}
      case c:ConsiderNode => {@visitConsiderNode(c, baseLevel, visited)}
      case ca:CallNode => {@visitCallNode(ca, baseLevel, visited)}
      case t:ThroughNode => {@visitThroughNode(t, baseLevel, visited)}
      case p:PartNode => {@visitPartNode(p,baseLevel,visited)}
      case n:EndNode => {}
      case n:RejectNode => {}
      case n:ContinueNode => {}
  }}
}

@extraHead = {
  @Helpers.whenRTL(loc){
    <link rel="stylesheet" href="@routes.Assets.versioned("css/rtl.min.css")">
  }
}


@templates.publicPages(Messages("interview.questions")+":" + verKit.policyModel.get.getMetadata.getVersion, views.PublicSection.Interview, extraHead = extraHead ) {
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end align-items-baseline">
      @comps.changeLanguageMenu(loc, availableLanguages,
        l=>routes.InterviewCtrl.viewAllQuestions(verKit.md.id.modelId, verKit.md.id.version, Some(l)))
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="@routes.InterviewCtrl.showStartInterview(verKit.md.id.modelId, verKit.md.id.version, Some(loc.getLanguage))">@comps.backArrow(loc) @Messages("interview.back")</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        @Messages("interview.allQuestions")
      </h1>
      <div class="alert alert-info alert-withIcon">
        <div class="alert-icon">
          <i class="fa fa-info-circle fa-3x"></i>
        </div>
        <div class="alert-body">
          @Messages("interview.allQuestions.explanation")
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="allQuestions">
        @visitNode( verKit.policyModel.get.getDecisionGraph.getStart, baseLevel = true, Set[String]() )
        @for( nd <- verKit.policyModel.get.getDecisionGraph.nodes
                          .filter(_.isInstanceOf[PartNode])
                          .filter(PolicyModelsUtils.hasAskNodes) ) {
          @visitPartNode(nd.asInstanceOf[PartNode], true, Set() )
        }
      </div>
    </div>
  </div>
}