@(qkit: QuestionnaireKit,
        title: Option[String],
        message: Option[String])
@scripts = {
  <script type="text/javascript" src="@routes.Assets.at("js/InterviewIntro.js")"></script>
}
@templates.bsNavBar("Interview Start Page", 'tag, scripts) {
  <div class="row">
    <div class="md-col-12">
    @for( welcome <- title ){
      <h3>@welcome</h3>
    }
    @for( welcome <- message ){
        <p>@welcome</p>
    }
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>@comps.msg(qkit, "title")</h1>
      <h2>@comps.msg(qkit, "subtitle")</h2>

      <div class="well well-lg">
        <div class="text-center">
          <div class="row">
            <div class="col-md-9">
              <p>
                @comps.msg(qkit, "interview.startButtonReferral")
              </p>
            </div>
            <div class="col-md-3">
              <a id="startTaggingButton"
              href="@routes.Interview.startInterview(qkit.id)"
              class="btn btn-primary btn-lg">@comps.msg(qkit, "interview.startButtonTitle")</a>
            </div>
          </div>
        </div>
      </div>
      @for( readMe <- qkit.readme ) {
        @Html(readMe)
      }
      <hr>
      <h3>Tags</h3>
      <p>
        The chart below displays the range of tags that may be suggested at the conclusion of the demonstration.
        These tags cover properties such as the regulatory classification of the information, the sensitivity of the information,
        the terms of governing contractual agreements, and the appropriate data security and other handling requirements.
      </p>

      @comps.tagType(qkit.tags)
      <hr>
      <div class="well well-lg">
        <div class="text-center">
          <p>
          @comps.msg(qkit, "interview.startButtonReferral")
          </p>
          <a id="startTaggingButton"
          href="@routes.Interview.startInterview(qkit.graph.getId)"
          class="btn btn-primary btn-lg">@comps.msg(qkit, "interview.startButtonTitle")</a>
        </div>
      </div>
    </div>
  </div>
}
