@import edu.harvard.iq.policymodels.externaltexts.TrivialLocalization
@(qKit: VersionKit, interviewWelcomeMessage:Option[String])(implicit req:Request[_], msgs:MessagesProvider)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.versioned("js/InterviewIntro.js")"></script>
}
@templates.bsNavBar("Interview Start Page", Symbol("tag"), scripts) {
  <div class="row my-2">
    <div class="col">
      <a href="@routes.Application.showModel(qKit.md.id.modelId)"><i class="fa fa-list"></i> Model Versions</a>
      <h3>
        @qKit.policyModel.get.getMetadata.getTitle
      </h3>
      @if( qKit.policyModel.get.getMetadata.getSubTitle!=null && qKit.policyModel.get.getMetadata.getSubTitle.nonEmpty) {
        <p>@qKit.policyModel.get.getMetadata.getSubTitle</p>
      }
    </div>
  </div>
  @for( iwm <- interviewWelcomeMessage ) {
    <div class="row my-2">
      <div class="col">
        <div class="requestedInterview-welcomeMessage">
          @iwm
        </div>
      </div>
    </div>
  }
  <div class="row my-2">
    <div class="col">
      @if( qKit.serializer!=null ) {
        <div class="startButtonsCtnr">
          @if( qKit.policyModel.get.getLocalizations.size>2 ) {
            <ul class="localizations">
            @for( locName <- qKit.policyModel.get.getLocalizations ) {
              <li>
                <a href="@routes.InterviewCtrl.startInterview(qKit.md.id.modelId, qKit.md.id.version, Some(locName))"
              class="btn btn-primary">Begin Questionnaire (@locName)</a>
              </li>
            }
            </ul>
          } else if(qKit.policyModel.get.getLocalizations.size>1 ) {
            @for( locName <- qKit.policyModel.get.getLocalizations ) {
              <a href="@routes.InterviewCtrl.startInterview(qKit.md.id.modelId, qKit.md.id.version, Some(locName))"
               class="btn btn-primary btn-lg">Begin Questionnaire (@locName)</a>
            }
          } else {
            <a href="@routes.InterviewCtrl.startInterview(qKit.md.id.modelId, qKit.md.id.version)"
            class="btn btn-primary btn-lg">Begin Questionnaire</a>
          }
        </div>
      }else{
        <div class="alert alert-danger">
          <strong>This model has errors</strong> and thus we cannot use it to conduct an interview. See the System Messages section below.
        </div>
      }
      @if( qKit.md.messages.nonEmpty ){
        <h3>System Messages</h3>
        <ul>
        @comps.kitMessageList(qKit.md.messages.split("\n$$$\n").grouped(2).map(arr => (arr(0), arr(1))).toSeq)
        </ul>
      }

      <h3 class="my-2">Questionnaire Overviews</h3>
      <div class="row">
        @for(viz <- qKit.md.visualizations){
          <div class="col-md-4">
            @if(viz._2.nonEmpty){
              <strong>@Helpers.vizNames(viz._1)</strong>
              <ul class="visualizationList">
              @for(p <- viz._2) {
                <li><a href="@routes.ModelCtrl.visualizationFile(qKit.md.id.modelId, qKit.md.id.version, p, viz._1)">@p</a></li>
              }
              </ul>
            }
          </div>
        }
        @if( qKit.serializer!=null ) {
          <div class="col-md-4">
            <strong>Questions:</strong>
            <ul class="visualizationList">
            @if(qKit.policyModel.get.getLocalizations.size > 1) {
              @for(locName <- qKit.policyModel.get.getLocalizations) {
                <li><a href="@routes.InterviewCtrl.viewAllQuestions(qKit.md.id.modelId, qKit.md.id.version, Some(locName))">@locName</a></li>
              }
            } else {
              <li class="onlyChild"><a href="@routes.InterviewCtrl.viewAllQuestions(qKit.md.id.modelId, qKit.md.id.version, qKit.policyModel.get.getLocalizations.headOption)">
                List</a></li>
            }
            </ul>
          </div>
        }
      </div>
      @Helpers.nonEmpty( qKit.md.note ) { note =>
        <div class="row my-2">
          <div class="col">
            <div class="card border-info">
              <div class="card-header text-white bg-info">Note</div>
              <div class="card-body">@note</div>
            </div>
          </div>
        </div>
      }
      <h3 class="my-2">Metadata</h3>
      @comps.versionMetadataTable(qKit.policyModel.get.getMetadata)

      <h3 class="my-2">
        @if( qKit.md.commentingStatus != CommentingStatus.Closed ) {
        <div class="float-right">
          @comps.comments("cmnt", qKit.md.id.modelId, qKit.md.id.version, None, "meta", "policy-space")
        </div>}
        Policy Space
      </h3>
      <p>
        The chart below displays the range of tags that may be suggested at the conclusion of the interview.
        These tags cover properties such as the regulatory classification of the information, the sensitivity of the information,
        the terms of governing contractual agreements, and the appropriate data security and other handling requirements.
        Hover/touch the <i class="glyphicon glyphicon-info-sign"></i> icons, where available, to see a short explanation about specific values.
      </p>

      @comps.tagType(qKit.policyModel.get.getSpaceRoot, new TrivialLocalization(qKit.policyModel.get))

    </div>
  </div>
}
