@import edu.harvard.iq.policymodels.externaltexts.Localization
@( session:InterviewSession,
   questionNode: edu.harvard.iq.policymodels.model.decisiongraph.nodes.AskNode,
   note:Option[String],
   availableLanguages:Seq[String]
)(implicit req:Request[_], msgs: MessagesProvider)

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@extraHead = {@whenRTL(session.localization){
  <link rel="stylesheet" href="@routes.Assets.at("css/rtl.min.css")">
}}

@import views.Helpers

@templates.bsNavBar( Messages("interview.question"), 'tag, scripts, extraHead ) {
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end align-items-baseline" style="margin:0 .5rem">
        @comps.changeLanguageMenu(session.localization, availableLanguages,
          l=>routes.InterviewCtrl.askNode(session.kit.md.id.modelId, session.kit.md.id.version, questionNode.getId, l))
      </div>
    </div>
  </div>
  @comps.sessionStack(session.sectionStack, session.kit.policyModel.get.getDecisionGraph ,session.localization)
  <div class="row my-2">
    <div class="col">
     @comps.questionPanel(
       questionNode, session.kit, session.localization, session.answerHistory,
       session.kit.md.commentingStatus != CommentingStatus.Closed, interactive=true, showId = false, session.allowNotes, note
     )
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md">
        <div class="card">
            <div class="card-header bg-secondary text-white d-flex">
              <div class="flex-grow-1">@Messages("interview.answerFeed")</div>
              <div class="flex-grow-0"><a href="@routes.InterviewCtrl.startInterview(session.kit.md.id.modelId, session.kit.md.id.version, Some(session.localization.getLanguage))" class="btn btn-sm btn-outline-light">@Messages("interview.restart")</a></div>
            </div>
            <div class="card-body">
                @if( session.answerHistory.nonEmpty ) {
                    @comps.answerHistory(session.answerHistory, session.kit.md.id, reverse=true, session.kit.serializer, session.localization)
                } else {
                    <div class="well well-sm text-center">
                        <span class="muted small">@Messages("interview.answerFeed.explain")</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                @Messages("interview.currentTags")
            </div>
            <div class="card-body">
              @if( session.tags.getNonEmptySubSlots.isEmpty ) {
                  <div class="well well-sm text-center">
                      <span class="muted small">@Messages("interview.currentTags.explain")</span>
                  </div>
              } else {
                  @comps.tagValue(session.tags, session.localization)
              }
            </div>
        </div>
    </div>
  </div>
}
