@import edu.harvard.iq.datatags.externaltexts.Localization
@( session:InterviewSession,
   questionNode: edu.harvard.iq.datatags.model.graphs.nodes.AskNode,
   note:Option[String]
)(implicit req:Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@extraHead = {@if(session.localization.isRtl){
  <link rel="stylesheet" href="@routes.Assets.at("css/rtl.min.css")">
}}

@import views.Helpers

@templates.bsNavBar( "Question", 'tag, scripts, extraHead ) {
  <div class="row">
    <div class="col">
      <a href="@routes.InterviewCtrl.startInterview(session.kit.md.id.modelId, session.kit.md.id.version, Some(session.localization.getLanguage))">
        @comps.backArrow(session.localization) Intro
      </a>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
     @comps.questionPanel(
       questionNode, session.kit, session.localization, session.answerHistory,
       session.kit.md.commentingStatus != CommentingStatus.Closed, interactive=true, showId = false, session.allowNotes, note
     )
    </div>
  </div>
<div class="row">
  <div class="col-md">
      <div class="card m-2">
          <div class="card-header bg-info text-white">
              Answer Feed
          </div>
          <div class="card-body">
              @if( session.answerHistory.nonEmpty ) {
                  @comps.answerHistory(session.answerHistory, session.kit.md.id, reverse=true, session.kit.serializer, session.localization)
              } else {
                  <div class="well well-sm text-center">
                      <span class="muted small">This space will contain your answers, and will allow you to revisit them when needed.</span>
                  </div>
              }
          </div>
      </div>
  </div>
  <div class="col-md">
      <div class="card m-2">
          <div class="card-header bg-info text-white">
              Current Tags
          </div>
          <div class="card-body">
              <ul class="list-unstyled">
                  @if( session.tags.getNonEmptySubSlots.isEmpty ) {
                      <div class="well well-sm text-center">
                          <span class="muted small">This space will contain the resultant policy. It will be updated as we go along.</span>
                      </div>
                  } else {
                      @comps.tagValue(session.tags, session.localization)
                  }
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="card m-2">
          <div class="card-header text-muted">
              Engine Trace
              <small>Useful for debugging an interview, but not very useful otherwise</small>
          </div>
          <div class="card-body">
              <div class="engine-trace-container">
                  <table class="engine-trace">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Type</th>
                              <th>Info</th>
                          </tr>
                      </thead>
                      <tbody>
                      @for( nd <- session.traversed.reverse ){
                          <tr>
                              @comps.node(nd)
                          </tr>
                      }
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
}
