@import edu.harvard.iq.datatags.externaltexts.Localization
@import edu.harvard.iq.datatags.model.graphs.nodes.RejectNode
@import Helpers.{o2o, renderMarkdown}
@(qKit: PolicyModelVersionKit,
  node: RejectNode,
  requestedInterview: Option[RequestedInterviewSession],
  answerHistory: Seq[AnswerRecord],
  loc:Option[Localization]
)(implicit req:Request[_])

@templates.bsNavBar("Dataset Rejected", 'tag) {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Rejection</h3>
        </div>
        <div class="panel-body">
          @loc.flatMap( l=>o2o(l.getNodeText(node.getId)).map(renderMarkdown) ).getOrElse( Html(node.getReason))
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Answer History</h3>
        </div>
        <div class="panel-body">
        @comps.answerHistory(answerHistory, qKit.id, false, qKit.serializer, loc)
        </div>
      </div>
    </div>
  </div>

  @requestedInterview match {
    case Some(interview) => {
      <div class="center-block" style="text-align: center">
        <p> Click the button below to return to your data repository with the reason your dataset can not be accepted. </p>
        <form action="@routes.RequestedInterview.unacceptableDataset(interview.key, node.getReason)" method="POST">
          <button class="btn btn-primary" type="submit">Back to Data Repository</button>
        </form>
      </div>
    }
    case None => {
      <div class="col-md-2 col-md-offset-5">
        <a href="@routes.InterviewCtrl.interviewIntro(qKit.id.modelId, qKit.id.version)" class="btn btn-primary">Start Again</a>
      </div>
    }
  }
}