@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.model.decisiongraph.nodes.RejectNode
@import Helpers.{o2o, renderMarkdown}
@(session:InterviewSession,
  node: RejectNode,
  availableLanguages:Seq[String]
)(implicit req:Request[_], msgs: MessagesProvider, pcd:models.PageCustomizationData)


@extraHead = {
@Helpers.whenRTL(session.localization){
  <link rel="stylesheet" href="@routes.Assets.versioned("css/rtl.min.css")">
}
}

@templates.publicPages(Messages("interview.datasetRejected"), views.PublicSection.Interview, extraHead = extraHead) {
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end align-items-baseline" style="margin:0 .5rem">
        @comps.changeLanguageMenu(session.localization, availableLanguages,
        l=>routes.InterviewCtrl.reject(session.kit.md.id.modelId, session.kit.md.id.version, l))
      </div>
    </div>
  </div>
  @comps.sessionStack(session.sectionStack, session.kit.policyModel.get.getDecisionGraph, session.localization)
  <div class="row my-2">
    <div class="col">
      @comps.rejectPanel(node, session.kit.md.id, session.localization, session.answerHistory, session.kit.md.commentingStatus != CommentingStatus.Closed)
    </div>
  </div>
  <div class="row my-2">
    <div class="col text-center">
      <div class="btn-group rtl-aware">
        <a href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, None, None)" class="btn btn-primary">
          <i class="fa fa-book"></i>&nbsp;@Messages("interview.transcript")
        </a>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, Some("xml"), None)">@Messages("interview.download.xml")</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          @Messages("interview.answerHistory")
        </div>
        <div class="card-body">
          @comps.answerHistory(session.answerHistory, session.kit.md.id, false, session.kit.serializer, session.localization)
        </div>
        <div class="card-footer text-center">
          <div class="btn-group rtl-aware">
            <a href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, None, None)" class="btn btn-primary">
              <i class="fa fa-book"></i>&nbsp;@Messages("interview.transcript")
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="@routes.InterviewCtrl.transcript(session.kit.md.id.modelId, session.kit.md.id.version, Some("xml"), None)">@Messages("interview.download.xml")</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col text-center">
      @session.requestedInterview match {
        case Some(reqInt) => {
          <p>@reqInt.data.returnButtonTitle</p>
          <form action="@routes.RequestedInterviewCtrl.reportInterviewResults()" method="POST">
            <button class="btn btn-primary" type="submit">@reqInt.data.returnButtonText</button>
          </form>
        }
        case None => {
          <a href="@routes.InterviewCtrl.showStartInterview(session.kit.md.id.modelId, session.kit.md.id.version)" class="btn btn-primary">@Messages("interview.startAgain")</a>
        }
      }
    </div>
  </div>
}