@import edu.harvard.iq.datatags.externaltexts.Localization
@import edu.harvard.iq.datatags.model.graphs.nodes.RejectNode
@import Helpers.{o2o, renderMarkdown}
@(session:InterviewSession,
  node: RejectNode
)(implicit req:Request[_])

@templates.bsNavBar("Dataset Rejected", 'tag) {
  <div class="row my-2">
    <div class="col">
      @comps.rejectPanel(node, session.kit, session.localization, session.answerHistory, session.kit.dbData.commentingStatus != CommentingStatus.Closed)
    </div>
  </div>
  <div class="row my-2">
    <div class="col text-center">
      <a href="@routes.InterviewCtrl.transcript(session.kit.id.modelId, session.kit.id.version, None)" class="btn btn-primary">
        <i class="fa fa-book"></i>&nbsp;Interview Transcript
      </a>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Answer History
        </div>
        <div class="card-body">
          @comps.answerHistory(session.answerHistory, session.kit.id, false, session.kit.serializer, session.localization)
        </div>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col text-center">

      @session.requestedInterview match {
        case Some(reqInt) => {
          <p>@reqInt.returnButtonTitle</p>
          <form action="@routes.RequestedInterviewCtrl.unacceptableDataset(reqInt.key, node.getReason)" method="POST">
            <button class="btn btn-primary" type="submit">@reqInt.returnButtonText</button>
          </form>
        }
        case None => {
          <a href="@routes.InterviewCtrl.interviewIntro(session.kit.id.modelId, session.kit.id.version)" class="btn btn-primary">Start Again</a>
        }
      }
    </div>
  </div>
}