@import edu.harvard.iq.datatags.externaltexts.MarkupString
@import edu.harvard.iq.datatags.externaltexts.Localization
@( qKit:PolicyModelVersionKit, readme:MarkupString, loc:Localization )(implicit req:Request[_])

@scripts = {
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@import views.Helpers

@templates.bsNavBar( "Question", 'tag, scripts) {

<div class="row">
  <div class="col-md-12">
    <div>
      <strong>@loc.getLocalizedModelData.getTitle</strong>
      @if( Helpers.hasContent(loc.getLocalizedModelData.getSubTitle) ) {
         @loc.getLocalizedModelData.getSubTitle
      } &gt; README
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="mdRender">
      @if( qKit.dbData.commentingStatus != CommentingStatus.Closed ) {
        <div class="pull-right">
        @comps.comments("cmntReadme", qKit.dbData.parentId, qKit.dbData.version, Some(loc.getLanguage), "meta", "readme")
        </div>}
      @Helpers.render(readme)
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <h3>
        @if( qKit.dbData.commentingStatus != CommentingStatus.Closed ) {
          <div class="pull-right">
          @comps.comments("cmntPS", qKit.dbData.parentId, qKit.dbData.version, Some(loc.getLanguage), "meta", "policy-space")
          </div>}
        Policy Space</h3>
      @comps.tagType(qKit.model.getSpaceRoot, Some(loc) )
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <div class="text-center" style="padding: 1em">
      <a href="@routes.InterviewCtrl.startInterviewPostReadme(qKit.id.modelId, qKit.id.version)" class="btn btn-primary btn-lg">Start</a>
    </div>
  </div>
</div>
}