@import edu.harvard.iq.policymodels.externaltexts.MarkupString
@import edu.harvard.iq.policymodels.externaltexts.Localization
@( qKit:VersionKit, readme:MarkupString, title:String, subTitle:String, loc:Localization, availableLanguages:Seq[String]
)(implicit req:Request[_], msgs: MessagesProvider, pcd:models.PageCustomizationData)

@scripts = {
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.versioned("js/Question.js")"></script>
}

@extraHead = {
@Helpers.whenRTL(loc){
    <link rel="stylesheet" href="@routes.Assets.versioned("css/rtl.min.css")">
  }
}

@import views.Helpers

@templates.publicPages(qKit.policyModel.get.getMetadata.getTitle + ": " + Messages("interview.readme"), views.PublicSection.Interview, scripts, extraHead) {
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-end align-items-baseline">
        @comps.changeLanguageMenu(loc, availableLanguages,
        l=>routes.InterviewCtrl.startInterview(qKit.md.id.modelId, qKit.md.id.version, Some(l)))
      </div>
    </div>
  </div>
<div class="row">
  <div class="col">
    <div>
      <strong>@title</strong>
      @if( Helpers.hasContent(subTitle) ) {
         @subTitle
      } &gt; @Messages("interview.readme")
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mdRender">
      @if( qKit.md.commentingStatus != CommentingStatus.Closed ) {
        <div class="float-eol">
          @comps.comments("cmntReadme", qKit.md.id.modelId, qKit.md.id.version, Some(loc.getLanguage), "meta", "readme")
        </div>}
      @Helpers.render(readme)
    </div>
  </div>
</div>
  <div class="row my-2">
    <div class="col">
      <div class="text-center">
        <a href="@routes.InterviewCtrl.startInterviewPostReadme(qKit.md.id.modelId, qKit.md.id.version)" class="btn btn-primary btn-lg">@Messages("interview.start")</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <details>
        <summary>@Messages("interview.policySpace")</summary>
        <h3>
          @if( qKit.md.commentingStatus != CommentingStatus.Closed ) {
            <div class="float-eol">
            @comps.comments("cmntPS", qKit.md.id.modelId, qKit.md.id.version, Some(loc.getLanguage), "meta", "policy-space")
            </div>}</h3>
        @comps.tagType(qKit.policyModel.get.getSpaceRoot, loc )
      </details>
    </div>
  </div>
}