@import edu.harvard.iq.datatags.externaltexts.MarkupString
@import edu.harvard.iq.datatags.externaltexts.Localization
@( qKit:VersionKit, readme:MarkupString, title:String, subTitle:String, loc:Localization)(implicit req:Request[_], msgs: MessagesProvider)

@scripts = {
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script type="text/javascript" src="@routes.Assets.at("js/Question.js")"></script>
}

@extraHead = {
  @if(loc.isRtl){
    <link rel="stylesheet" href="@routes.Assets.at("css/rtl.min.css")">
  }
}

@import views.Helpers

@templates.bsNavBar(qKit.policyModel.get.getMetadata.getTitle + ": " + Messages("interview.readme"), 'tag, scripts, extraHead) {
<div class="row">
  <div class="col">
    <div>
      <strong>@title</strong>
      @if( Helpers.hasContent(subTitle) ) {
         @subTitle
      } &gt; @Messages("interview.readme")
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="mdRender">
      @if( qKit.md.commentingStatus != CommentingStatus.Closed ) {
        <div class="float-eol">
          @comps.comments("cmntReadme", qKit.md.id.modelId, qKit.md.id.version, loc.getLanguage, "meta", "readme")
        </div>}
      @Helpers.render(readme)
    </div>
  </div>
</div>
  <div class="row my-2">
    <div class="col">
      <div class="text-center">
        <a href="@routes.InterviewCtrl.startInterviewPostReadme(qKit.md.id.modelId, qKit.md.id.version)" class="btn btn-primary btn-lg">@Messages("interview.start")</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <details>
        <summary>@Messages("interview.policySpace")</summary>
        <h3>
          @if( qKit.md.commentingStatus != CommentingStatus.Closed ) {
            <div class="float-eol">
            @comps.comments("cmntPS", qKit.md.id.modelId, qKit.md.id.version, loc.getLanguage, "meta", "policy-space")
            </div>}</h3>
        @comps.tagType(qKit.policyModel.get.getSpaceRoot, loc )
      </details>
    </div>
  </div>
}