@import views.Structure.Customization
@(title:String, section:Customization.Value, scripts: Html=Html(""), extraHead: Html=Html(""))(content:Html)

@templates.backend(title, Symbol("customize"), scripts, extraHead ) {
  <div class="row">
    <div class="col">
      <nav class="nav nav-pills nav-justified">
        <span class="nav-item nav-link badge-secondary mr-2">Server Customization</span>
        @for( v <- Customization.values.iterator ) {
         <a class="nav-item nav-link@if(v==section){ active}" href="#">@v.toString</a>
        }
      </nav>
    </div>
  </div>
  @content
}