@import edu.harvard.iq.policymodels.externaltexts.Localization
@(answerHistory: Seq[AnswerRecord], kitKey:KitKey, reverse:Boolean, serializer:Serialization, loc:Localization)(implicit msgs: MessagesProvider)
@import views.Helpers
@helper.form( action=routes.InterviewCtrl.revisit(kitKey.modelId, kitKey.version), Symbol("id")->"answerHistory") {
    <ol class="answer-history">
        @defining( answerHistory.zipWithIndex ) { answerRecTuples =>
            @defining( if (reverse) answerRecTuples.reverse else answerRecTuples ) { answerRecOrdered =>
                @for( ar <- answerRecOrdered ){
                    <li class="answer-record">
                        <div class="ar-question">
                          @Helpers.renderMini(ar._1.question, loc)
                        </div>
                        <div class="ar-controls">

                          <span class="badge badge-info badge-pill">@loc.localizeAnswer(ar._1.answer.getAnswerText)</span>
                          <button class="btn btn-outline-secondary btn-sm"
                              data-toggle="tooltip" data-placement="top"
                              title=@Messages("interview.question.change")
                              onClick="$('#revisitIdx')[0].value='@ar._2'; $('#answerHistory').submit();">
                              <i class="fa fa-history"></i> @Messages("interview.revisit")</button>
                        </div>
                    </li>
                }       
            }
        }
    </ol>
    <input type="hidden" name="serializedHistory" id="serializedHistory" value="@serializer.encode(answerHistory)"/>
    <input type="hidden" name="revisitIdx" id="revisitIdx" value="" />
}