@import edu.harvard.iq.policymodels.model.metadata._
@(a:AuthorData)

@person( p:PersonAuthorData ) = {
  @Helpers.nonEmpty(p.getAffiliation){ affiliation => <span class="affiliation">@affiliation</span> }
  @Helpers.nonEmpty(p.getEmail){ email => <span class="email"><a href="mailto:@email">@email</a></span> }
  @Helpers.nonEmpty(p.getOrcid){ orcid => <span class="orcid">ORCiD: <a href="http://orcid.org/@p.getOrcid">@p.getOrcid</a></span> }
}

@group( g:GroupAuthorData ) = {
  @Helpers.nonEmpty(g.getContact){ c => <span class="contact">@c</span>}
}
<div class="author">
  <span class="name">@a.getName</span>
  @a match {
    case p:PersonAuthorData => {@person(p)}
    case g:GroupAuthorData  => {@group(g)}
  }
  @Helpers.nonEmpty(a.getUrl){ url => <span class="url"><a href="@url">@url</a></span> }
</div>
