@(formID:String, modelID:String, version:Int, loc:Option[String], targetType:String, targetContent:String, buttonClass:String="btn-outline-dark")(implicit msgs:MessagesProvider)
<div class="commentComponent">
  <button type="button" onclick="Comments.toggleForm('@formID')" class="btn btn-sm @buttonClass"><i class="fa fa-edit"></i> @Messages("interview.comment")</button>
  <div class="commentFormDiv" id="@formID" style="display:none">
    <input type="hidden" data-role="modelID" value="@modelID">
    <input type="hidden" data-role="version" value="@version">
    <input type="hidden" data-role="targetType" value="@targetType">
    <input type="hidden" data-role="targetContent" value="@targetContent">
    @if(loc.isDefined){
      <input type="hidden" data-role="localization" value="@loc">
    }
    <div>
      <input placeholder="@Messages("interview.comment.name")" class="form-control" type="text" data-role="name">
    </div>
    <div class="textareaCtnr">
      <textarea class="form-control" placeholder="@Messages("interview.comment.text")" rows="4" cols="20" data-role="comment"></textarea>
    </div>
    <div class="buttonBar">
        <button class="btn btn-secondary btn-sm" type="button" onclick="Comments.closeForm('@formID')">@Messages("interview.cancel")</button>
        <button class="btn btn-primary btn-sm" type="button" onclick="Comments.save('@formID')">@Messages("interview.comment")</button>
    </div>
  </div>
</div>
