@(formID:String, modelID:String, version:Int, locOpt:Option[String], targetType:String, targetContent:String, buttonClass:String="btn-outline-dark")
<div class="commentComponent">
  <button type="button" onclick="Comments.toggleForm('@formID')" class="btn btn-sm @buttonClass"><i class="fa fa-edit"></i> Comment</button>
  <div class="commentFormDiv" id="@formID" style="display:none">
    <input type="hidden" data-role="modelID" value="@modelID">
    <input type="hidden" data-role="version" value="@version">
    <input type="hidden" data-role="targetType" value="@targetType">
    <input type="hidden" data-role="targetContent" value="@targetContent">
    @for( loc <- locOpt ) {
      <input type="hidden" data-role="localization" value="@loc">
    }
    <div>
      <input placeholder="Commenter Name" class="form-control" type="text" data-role="name">
    </div>
    <div class="textareaCtnr">
      <textarea class="form-control" placeholder="Comment text" rows="4" cols="20" data-role="comment"></textarea>
    </div>
    <div class="buttonBar">
        <button class="btn btn-secondary btn-sm" type="button" onclick="Comments.closeForm('@formID')">Cancel</button>
        <button class="btn btn-primary btn-sm" type="button" onclick="Comments.save('@formID')">Comment</button>
    </div>
  </div>
</div>
