@import edu.harvard.iq.datatags.externaltexts.Localization
@import edu.harvard.iq.datatags.model.graphs.nodes.RejectNode
@import Helpers.{o2o, renderMarkdown}
@(node:RejectNode, kitKey: KitKey, loc:Localization,
        answerHistory:Seq[AnswerRecord], enableComments:Boolean)(implicit msgs: MessagesProvider)
<div class="card">
  <div class="card-header bg-danger text-white d-flex">
    <div class="flex-grow-1">
      @Messages("interview.rejection")
    </div>
    @if( enableComments ){
      <div>
      @comps.comments("cmnt", kitKey.modelId, kitKey.version, Some(loc.getLanguage), "node", node.getId, "btn-outline-light")
      </div>
    }
  </div>
  <div class="card-body">
     @Helpers.o2o(loc.getNodeText(node.getId)).map(renderMarkdown).getOrElse(Html(node.getReason))
  </div>
</div>