@( tagType: edu.harvard.iq.datatags.model.types.SlotType )

@import edu.harvard.iq.datatags.model.types._

@simpleType( tp: AtomicSlot ) = {
  <div class="tagtype tagtype-simple">
    <div class="typeName">@tp.getName
      <small>One of:</small>
    </div>
    <div class="typeValues">
      @for( sv <- tp.values ) {
        @valueAtom( sv )
      }
    </div>
  </div>
}

@aggregateType( tp: AggregateSlot) = {
  <div class="tagtype tagtype-aggregate">
    <div class="typeName">@tp.getName
      <small>Some of:</small>
    </div>
    <div class="typeValues">
      @for( sv <- tp.getItemType.values ) {
        @valueAtom( sv )
      }
    </div>
  </div>
}

@compoundType( tp:CompoundSlot ) = {
 <div class="tagtype tagtype-compound">
    <div>
      @if( tp.getNote != null ) {
        <span data-toggle="popover" data-trigger="hover" 
             title="@tp.getName" data-content="@tp.getNote"
             data-placement="top">
            <span class="typeName">@tp.getName
              <span class="glyphicon glyphicon-info-sign"></span>
            </span>
        </span>
      } else {
        <span class="typeName">@tp.getName</span>
      }
    </div>
    <div class="typeValues">
      @for( ft <- tp.getFieldTypes ) {
        @renderType( ft )
      }
    </div>
  </div> 
}

@todoType( tp: ToDoSlot ) = {
  <div class="tagtype tagtype-todo">
    <div class="typeName">@tp.getName
      <small>value placeholder</small>
    </div>
    <div class="typeValues">
        <span class="valueAtom">TODO</span>
    </div>
  </div>
}


@renderType( ft:SlotType ) = {
  @ft match {
    case t:AtomicSlot => { @simpleType(t) }
    case t:AggregateSlot => { @aggregateType(t) }
    case t:CompoundSlot => { @compoundType(t) }
    case t:ToDoSlot => { @todoType(t) }
  }
}

@renderType( tagType )
