@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.model.policyspace.slots._
@( tagType:AbstractSlot, loc:Localization)(implicit msgs:MessagesProvider)


@simpleType( tp: AtomicSlot ) = {
  <div class="tagtype tagtype-simple">
      @slotTypeTitle(tp, loc, Messages("interview.oneOf"))
    <div class="typeValues">
      @for( sv <- tp.values ) {
        @valueAtom( sv, loc )
      }
    </div>
  </div>
}

@aggregateType( tp: AggregateSlot) = {
  <div class="tagtype tagtype-aggregate">
      @slotTypeTitle(tp, loc, Messages("interview.someOf"))
    <div class="typeValues">
      @for( sv <- tp.getItemType.values ) {
        @valueAtom( sv, loc )
      }
    </div>
  </div>
}

@compoundType( tp:CompoundSlot ) = {
 <div class="tagtype tagtype-compound">
    @slotTypeTitle(tp, loc)
    <div class="typeValues">
      @for( ft <- tp.getSubSlots ) {
        @renderType( ft )
      }
    </div>
  </div> 
}

@todoType( tp: ToDoSlot ) = {
  <div class="tagtype tagtype-todo">
    @slotTypeTitle(tp, loc, "value placeholder")
@*    <div class="typeValues">*@
@*        <span class="valueAtom">TODO</span>*@
@*    </div>*@
  </div>
}

@renderType( ft:AbstractSlot) = {
  @ft match {
    case t:AtomicSlot => { @simpleType(t) }
    case t:AggregateSlot => { @aggregateType(t) }
    case t:CompoundSlot => { @compoundType(t) }
    case t:ToDoSlot => { @todoType(t) }
  }
}

<div class="tagtype-container">
    @renderType( tagType )
</div>