@( tagType: edu.harvard.iq.datatags.model.types.SlotType )

@import edu.harvard.iq.datatags.model.types._

@simpleType( tp: AtomicSlot ) = {
  <div class="tagtype tagtype-simple">
      @slotTypeTitle(tp, "One of:")
    <div class="typeValues">
      @for( sv <- tp.values ) {
        @valueAtom( sv )
      }
    </div>
  </div>
}

@aggregateType( tp: AggregateSlot) = {
  <div class="tagtype tagtype-aggregate">
      @slotTypeTitle(tp, "Some of:")
    <div class="typeValues">
      @for( sv <- tp.getItemType.values ) {
        @valueAtom( sv )
      }
    </div>
  </div>
}

@compoundType( tp:CompoundSlot ) = {
 <div class="tagtype tagtype-compound">
    @slotTypeTitle(tp)
    <div class="typeValues">
      @for( ft <- tp.getFieldTypes ) {
        @renderType( ft )
      }
    </div>
  </div> 
}

@todoType( tp: ToDoSlot ) = {
  <div class="tagtype tagtype-todo">
    @slotTypeTitle(tp, "value placeholder")
    <div class="typeValues">
        <span class="valueAtom">TODO</span>
    </div>
  </div>
}

@renderType( ft:SlotType ) = {
  @ft match {
    case t:AtomicSlot => { @simpleType(t) }
    case t:AggregateSlot => { @aggregateType(t) }
    case t:CompoundSlot => { @compoundType(t) }
    case t:ToDoSlot => { @todoType(t) }
  }
}

<div class="tagtype-container">
    @renderType( tagType )
</div>