@import edu.harvard.iq.policymodels.externaltexts.Localization
@import edu.harvard.iq.policymodels.model.policyspace.values._
@( aValue: AbstractValue,
   loc:Localization
)
@atomicValue( value:AtomicValue ) = {
  <div class="value value-simple">
      @slotTypeTitle(value.getSlot, loc)
      @valueAtom(value, loc)
  </div>
}

@todoValue( value:ToDoValue ) = {
  <div class="value value-todo">
    @slotTypeTitle(value.getSlot, loc)
    <span class="valueAtom">TODO</span>
  </div>
}

@aggregateValue( value:AggregateValue ) = {
  <div class="value value-aggregate">
    @slotTypeTitle(value.getSlot, loc)
    @if( value.getValues.isEmpty ) {
        <span class="valueAtom">empty</span>
    } else {
      @for(  sv <- value.getValues ){
        @valueAtom(sv, loc)
      }
    }
  </div>
}

@compoundValue( value:CompoundValue ) = {
  <div class="value value-compound">
    @slotTypeTitle(value.getSlot, loc)
    <ul>
      @for( tp <- value.getNonEmptySubSlots ){
        <li>@renderValue( value.get(tp) )</li>
      }
    </ul>
  </div>
}

@anyValue( value:AbstractValue ) = {
 <div class="value value-compound">
   @slotTypeTitle(value.getSlot, loc)
    <span class="valueAtom">@value.toString</span>
  </div>  
}

@*todo shady use*@
@renderValue( value:AbstractValue ) = {
    @value match {
        case v:AtomicValue => {@atomicValue(v)}
        case v:AggregateValue => {@aggregateValue(v)}
        case v:ToDoValue => {@todoValue(v)}
        case c:CompoundValue => {@compoundValue(c)}
    }
}

<div class="tagvalue-container">
@renderValue( aValue )
</div>
