@import edu.harvard.iq.policymodels.externaltexts._
@import edu.harvard.iq.policymodels.model.policyspace.values._
@import edu.harvard.iq.policymodels.model.policyspace.slots.AbstractSlot
@import edu.harvard.iq.policymodels.util.PolicySpaceHelper
@import java.util.concurrent.atomic.AtomicInteger;

@( aValue: AbstractValue,
        loc:Localization,
        slotsVisibility:Map[String,String],
        topValues:Seq[AbstractValue],
        topSlotsAsValues:Seq[(String, AbstractValue)],
        counter:AtomicInteger = new AtomicInteger()
)(implicit req:Request[_], msgs: MessagesProvider)


@slotTypeTitle(slot:AbstractSlot ) = {
@Helpers.localized(slot,loc){ texts =>
  <div class="detailedSlotTitle">
    <h3>@texts.name</h3>
    @Helpers.nonEmpty( texts.smallNote ){ note =>
      <p class="smallNote">
        @Helpers.renderMinimalMarkdown(note)
        @Helpers.nonEmpty( texts.bigNote ){ note =>
          <button class="btn btn-txt btn-outline-secondary" type="button" onclick="toggleBigNote('s@counter.incrementAndGet')"><i class="fa fa-expand"></i></button>}
      </p>
    }
    @Helpers.nonEmpty( texts.bigNote ){ note =>
      <div id="s@counter.get" class="bigNote" style="display:none">
        @Helpers.renderMarkdown(note)
      </div>
  </div>
}}}

@valueAtom(value:AtomicValue, path:String ) = {
  @Helpers.localized(value, loc ){ texts =>
    <div class="detailedValue">
      @texts.name
      @Helpers.nonEmpty( texts.smallNote ){ note =>
        <span class="smallNote">@Helpers.renderMinimalMarkdown(note)</span>
      }
      @Helpers.nonEmpty( texts.bigNote ){note =>
        <button class="btn btn-txt btn-outline-secondary" type="button" onclick="toggleBigNote('v@counter.incrementAndGet')"><i class="fa fa-expand"></i></button>
        <div class="bg-light bigNote" style="display:none" id="v@counter.get">
          @Helpers.renderMarkdown(note)
        </div>
      }
    </div>
  }
}


@atomicValue( value:AtomicValue, path:String ) = {
  <div class="detailedValue detailedValue-simple">
  @Helpers.localized(value.getSlot, loc){ slotText =>
    @Helpers.localized(value, loc){ valueText =>
      <span class="slotName">@slotText.name</span> <span class="slotValue">@valueText.name</span>
      @if( Helpers.hasContent(slotText.bigNote) || Helpers.hasContent(valueText.bigNote)){
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleBigNote('v@counter.incrementAndGet')"><i class="fa fa-fa-expand"></i></button>
      }
      @Helpers.nonEmpty( slotText.smallNote ){ note => <div class="smallNote smallNote-slot">
        @Helpers.renderMinimalMarkdown(note)
      </div>}
      @Helpers.nonEmpty( valueText.smallNote ){ note => <div class="smallNote">
        @Helpers.renderMinimalMarkdown(note)
      </div>}
      @if( Helpers.hasContent(slotText.bigNote) || Helpers.hasContent(valueText.bigNote)){
        <div id="v@counter.get" class="bigNote" style="display:none">
          @Helpers.nonEmpty(slotText.bigNote){n=><p>@Helpers.renderMarkdown(n)</p>}
          @Helpers.nonEmpty(valueText.bigNote){n=><p>@Helpers.renderMarkdown(n)</p>}
        </div>
      }
    }
  }
  </div>
}

@todoValue( value:ToDoValue, path:String ) = {
  <div class="detailedValue detailedValue-todo">
    @slotTypeTitle(value.getSlot)
    <span class="valueAtom">TODO</span>
  </div>
}

@aggregateValue( value:AggregateValue, path:String ) = {
  @defining(if(path != "") {path + "-" } else {""} + value.getSlot.getName) { fullPath =>
    @defining(slotsVisibility.getOrElse(fullPath + "-" + value.getSlot.getName, "") == "collapseSlots") { collapse =>
        @if(collapse){<details>}
            <div class="detailedValue detailedValue-aggregate">
              @if(collapse){<summary>}
              @slotTypeTitle(value.getSlot)
              @if(collapse){</summary>}
              @if(value.getValues.isEmpty) {
                <div class="noData">empty</div>
              } else {
                <ul>
                @for(sv <- value.getValues) {
                  @if(slotsVisibility.getOrElse(fullPath + "-" + sv.getName, "") != "hiddenSlots") {
                    <li>@valueAtom(sv, fullPath)</li>
                  }
                }
                </ul>
              }
            </div>
      @if(collapse){</details>}
    }
  }
}

@compoundValue( value:CompoundValue, path:String ) = {
@defining((if(path != "") {path + "-" } else {""}) + value.getSlot.getName) { fullPath =>
        @defining(slotsVisibility.getOrElse(fullPath, "") == "collapseSlots") { collapse =>
          <div class="detailedValue detailedValue-compound">
            @if(collapse){<details>}
            @if(collapse){<summary>}
            @slotTypeTitle(value.getSlot)
            @if(collapse){</summary>}
            <ul>
              @for( tp <- value.getNonEmptySubSlots ){
                @if(slotsVisibility.getOrElse(fullPath + "-" + tp.getName, "") != "hiddenSlots"){
                  <li>@renderValue( value.get(tp), fullPath )</li>
                }
              }
            </ul>
            @if(collapse){</details>}
          </div>
        }
    }
}


@renderValue( value:AbstractValue, path:String ) = {
@value match {
  case v:AtomicValue => {@atomicValue(v, path)}
  case v:AggregateValue => {@aggregateValue(v, path)}
  case v:ToDoValue => {@todoValue(v, path)}
  case c:CompoundValue => {@compoundValue(c, path)}
}
}

 @topValueDisplay(value:AbstractValue)={
   <div class="alert alert-primary" role="alert">@Helpers.localized(value, loc){ texts =>
       <h4 class="alert-heading">@texts.name</h4>
       @Helpers.nonEmpty( texts.smallNote ){ note =>
         <p>
           @Helpers.renderMinimalMarkdown(note)
         </p>
        @Helpers.nonEmpty( texts.bigNote ){n=><hr>}
       }
       @Helpers.nonEmpty( texts.bigNote ){ note =>
        <p>
         @Helpers.renderMarkdown(note)
        </p>
       }
   }
   </div>
}

<div class="detailedValue-container">
  @if( topValues.nonEmpty ) {
    <div class="topValueCtnr">
    @for(v <- topValues) {
      @topValueDisplay(v)
    }
    </div>
  }
  @if(topSlotsAsValues.nonEmpty){
    <h3>@Messages("interview.report.highlights")</h3>
    @for( v <- topSlotsAsValues ) {
      @renderValue(v._2, v._1)
    }
  }
  <h3>@Messages("interview.report.detailedResults")</h3>
  @renderValue(aValue, "")
</div>
