@import edu.harvard.iq.datatags.externaltexts._
@import edu.harvard.iq.datatags.model.values._
@import edu.harvard.iq.datatags.model.slots.AbstractSlot
@import edu.harvard.iq.datatags.util.PolicySpaceHelper

@( aValue: AbstractValue,
        loc:Localization,
        slotsVisibility:Map[String,String],
        topValues:Seq[AbstractValue],
        topSlots:Seq[AbstractSlot]
)
@slotTypeTitle(slot:AbstractSlot ) = {
@defining(
  Helpers.o2o(loc.getSlotText(slot))
          .getOrElse( new LocalizationTexts(slot.getName, slot.getNote, null))
){ texts =>
  <div class="detailedSlotTitle">
    <h3>@texts.name @Helpers.nonEmpty( texts.bigNote ){ note => <button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleBigNote('s@slot.hashCode()')"><i class="fa fa-book"></i></button>}</h3>
    @Helpers.nonEmpty( texts.smallNote ){ note =>
      <div class="smallNote">
      <i class="fa fa-info-circle"></i> @Helpers.renderMinimalMarkdown(note)
      </div>
    }
    @Helpers.nonEmpty( texts.bigNote ){ note =>
      <div id="s@slot.hashCode()" class="bigNote" style="display:none">
        @Helpers.renderMarkdown(note)
      </div>
    }
  </div>
}}

@valueAtom(value:AtomicValue, path:String ) = {@defining(
  Helpers.o2o(loc.getSlotValueText(value))
          .getOrElse( new LocalizationTexts(PolicySpaceHelper.name(value), PolicySpaceHelper.note(value), null))
){ texts =>
  <div class="detailedValue">
    @texts.name @Helpers.nonEmpty( texts.bigNote ){ note => <button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleBigNote('v@value.hashCode()s@value.getSlot.hashCode()')"><i class="fa fa-book"></i></button>}
    @Helpers.nonEmpty( texts.smallNote ){ note =>
      <div class="smallNote">
        <i class="fa fa-info-circle"></i> @Helpers.renderMinimalMarkdown(note)
      </div>
    }
    @Helpers.nonEmpty( texts.bigNote ){ note =>
      <div class="bigNote" style="display:none" id="v@value.hashCode()s@value.getSlot.hashCode()">
        @Helpers.renderMarkdown(note)
      </div>
    }
  </div>
}}


@atomicValue( value:AtomicValue, path:String ) = {
  <div class="detailedValue detailedValue-simple">
  @defining(
    Helpers.o2o(loc.getSlotText(value.getSlot))
            .getOrElse( new LocalizationTexts(value.getSlot.getName, value.getSlot.getNote, null))
  ) { slotText =>
    @defining(
      Helpers.o2o(loc.getSlotValueText(value))
              .getOrElse( new LocalizationTexts(value.getName, value.getNote, null))
    ) { valueText =>
      <span class="slotName">@slotText.name</span> <span class="slotValue">@valueText.name</span>
      @if( Helpers.hasContent(slotText.bigNote) || Helpers.hasContent(valueText.bigNote)){
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleBigNote('v@value.hashCode()s@value.getSlot.hashCode()')"><i class="fa fa-book"></i></button>
      }
      @Helpers.nonEmpty( slotText.smallNote ){ note => <div class="smallNote smallNote-slot">
        <i class="fa fa-info-circle"></i> @Helpers.renderMinimalMarkdown(note)
      </div>}
      @Helpers.nonEmpty( valueText.smallNote ){ note => <div class="smallNote">
        <i class="fa fa-info-circle"></i> @Helpers.renderMinimalMarkdown(note)
      </div>}
      @if( Helpers.hasContent(slotText.bigNote) || Helpers.hasContent(valueText.bigNote)){
        <div id="v@value.hashCode()s@value.getSlot.hashCode()" class="bigNote" style="display:none">
          @Helpers.nonEmpty(slotText.bigNote){n=>@Helpers.renderMarkdown(n)}
          @Helpers.nonEmpty(valueText.bigNote){n=>@Helpers.renderMarkdown(n)}
        </div>
      }
    }
  }
  </div>
}

@todoValue( value:ToDoValue, path:String ) = {
  <div class="detailedValue detailedValue-todo">
    @slotTypeTitle(value.getSlot)
    <span class="valueAtom">TODO</span>
  </div>
}

@aggregateValue( value:AggregateValue, path:String ) = {
  <div class="detailedValue detailedValue-aggregate">
    @slotTypeTitle(value.getSlot)
    @if( value.getValues.isEmpty ) {
      <div class="noData">empty</div>
    } else {
      <ul>
        @for(  sv <- value.getValues ){
          @if(slotsVisibility.getOrElse(if(path != "") {path + "-" } else {""} + value.getSlot.getName + "-" + sv.getName, "") != "hiddenSlots"){
            <li>@valueAtom(sv, if(path != "") {path + "-" + value.getSlot.getName} else {value.getSlot.getName})</li>
          }
        }
      </ul>
    }
  </div>
}

@compoundValue( value:CompoundValue, path:String ) = {
  <div class="detailedValue detailedValue-compound">
    @slotTypeTitle(value.getSlot)
    <ul>
    @for( tp <- value.getNonEmptySubSlots ){
      @if(slotsVisibility.getOrElse(if(path != "") {path + "-" } else {""} + value.getSlot.getName + "-" + tp.getName, "") != "hiddenSlots"){
        <li>@renderValue( value.get(tp), if(path != "") {path + "-" + value.getSlot.getName} else {value.getSlot.getName} )</li>
      }
    }
    </ul>
  </div>
}


@renderValue( value:AbstractValue, path:String ) = {
  @value match {
    case v:AtomicValue => {@atomicValue(v, path)}
    case v:AggregateValue => {@aggregateValue(v, path)}
    case v:ToDoValue => {@todoValue(v, path)}
    case c:CompoundValue => {@compoundValue(c, path)}
  }
}

<div class="detailedValue-container">
  @for( v <- topValues ) {
    @renderValue(v, "")
  }
@renderValue( aValue, "" )
</div>
