logs
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/ansHistory,
/boolean
/boolean,
/false,
/mdl.id,
/mdl.title,
/nonEmptyText,
/tags,
/text,
/true,
/userSession.answerHistory.size.toString,
/uuid,
/{
